CONFIG_IDF_TARGET="esp32s31"
CONFIG_IDF_EXPERIMENTAL_FEATURES=y
CONFIG_COMPILER_OPTIMIZATION_PERF=y

CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y

CONFIG_SPIRAM=y
CONFIG_SPIRAM_SPEED_250M=y
CONFIG_SPIRAM_XIP_FROM_PSRAM=y
CONFIG_SPIRAM_MEMTEST=n
CONFIG_SPIRAM_MALLOC_RESERVE_INTERNAL=12768
CONFIG_SPIRAM_ALLOW_BSS_SEG_EXTERNAL_MEMORY=y
CONFIG_SPIRAM_ALLOW_NOINIT_SEG_EXTERNAL_MEMORY=y

CONFIG_FREERTOS_HZ=1000
CONFIG_CODEC_I2C_BACKWARD_COMPATIBLE=n
CONFIG_CODEC_ES8389_SUPPORT=y

CONFIG_TINYUSB_RHPORT_HS=y
CONFIG_HID_TOUCH_ENABLE=y
CONFIG_ESP_LCD_TOUCH_MAX_POINTS=5
CONFIG_UAC_SPEAKER_CHANNEL_NUM=2
CONFIG_UAC_MIC_CHANNEL_NUM=2
CONFIG_UAC_SAMPLE_RATE=48000
CONFIG_UAC_BIT_RESOLUTION_16=y
CONFIG_UAC_SPK_INTERVAL_MS=10
CONFIG_UAC_MIC_INTERVAL_MS=10
CONFIG_UAC_SPK_NEW_PLAY_INTERVAL=100

CONFIG_USB_EXTEND_SCREEN_HEIGHT=800
CONFIG_USB_EXTEND_SCREEN_WIDTH=480
CONFIG_USB_EXTEND_SCREEN_MAX_FPS=60
CONFIG_USB_EXTEND_SCREEN_FRAME_LIMIT_B=300000
CONFIG_EXAMPLE_LCD_BUF_COUNT=2
CONFIG_LCD_PIXEL_FORMAT_RGB565=y
