CONFIG_IDF_TARGET="esp32p4"
CONFIG_BSP_BOARD_TYPE_FIB=y
CONFIG_BSP_LCD_CONTROLLER_EK79007=y
CONFIG_EXAMPLE_LCD_BUF_COUNT=3
CONFIG_LCD_PIXEL_FORMAT_RGB565=y
CONFIG_COMPILER_ORPHAN_SECTIONS_PLACE=y
CONFIG_ESP32P4_REV_MIN_1=y
CONFIG_SPIRAM=y
CONFIG_SPIRAM_SPEED_200M=y
CONFIG_FREERTOS_HZ=1000
CONFIG_IDF_EXPERIMENTAL_FEATURES=y
CONFIG_COMPILER_OPTIMIZATION_PERF=y
CONFIG_CACHE_L2_CACHE_256KB=y
CONFIG_CACHE_L2_CACHE_LINE_128B=y
CONFIG_CODEC_I2C_BACKWARD_COMPATIBLE=n
CONFIG_UAC_SPEAKER_CHANNEL_NUM=2
CONFIG_UAC_MIC_CHANNEL_NUM=2
CONFIG_USB_EXTEND_SCREEN_WIDTH=576
