#
# Compiler options
#
CONFIG_COMPILER_OPTIMIZATION_PERF=y

#
# ESP PSRAM
#
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_FETCH_INSTRUCTIONS=y
CONFIG_SPIRAM_RODATA=y

#
# Serial flasher config
#
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y


CONFIG_IDF_EXPERIMENTAL_FEATURES=y

#
# Serial flasher config
#
CONFIG_ESPTOOLPY_FLASHFREQ_120M=y

#
# SPI RAM config
#
CONFIG_SPIRAM_SPEED_120M=y

#
# Cache config
#
CONFIG_ESP32S3_DATA_CACHE_LINE_64B=y
#
# Compiler options
#
CONFIG_COMPILER_OPTIMIZATION_PERF=y

#
# ESP PSRAM
#
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_FETCH_INSTRUCTIONS=y
CONFIG_SPIRAM_RODATA=y

#
# Serial flasher config
#
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y


CONFIG_IDF_EXPERIMENTAL_FEATURES=y

#
# Serial flasher config
#
CONFIG_ESPTOOLPY_FLASHFREQ_120M=y

#
# SPI RAM config
#
CONFIG_SPIRAM_SPEED_120M=y

#
# Cache config
#
CONFIG_ESP32S3_DATA_CACHE_LINE_64B=y

CONFIG_CODEC_I2C_BACKWARD_COMPATIBLE=n

CONFIG_BSP_LCD_RGB_BUFFER_NUMS=3
CONFIG_BSP_LCD_SUB_BOARD_TYPE=2
CONFIG_BSP_LCD_RGB_BOUNCE_BUFFER_MODE=y
CONFIG_UAC_SPEAKER_CHANNEL_NUM=2
CONFIG_UAC_MIC_CHANNEL_NUM=2
CONFIG_UAC_SAMPLE_RATE=16000
