menu "LP Environment Sensor Configuration"
    config LP_CPU_WAKEUP_TIME_SECOND
        int "LP CPU wakeup time(seconds)"
        default 6
        help
        Set LP CPU wakeup time(seconds).

    config ULP_UART_PRINT
        bool "Print temperature and humidity data using ULP UART"
        default n
        help
        Enable print temperature and humidity data using ULP UART.

    config REPORT_THS_DATA
        bool "Report temperature and humidity data to RainMaker"
        default y
        help
        Enable report temperature and humidity data to RainMaker.

    config UPDATE_WEATHER_DATA
        bool "Get weather data from HTTP"
        default y
        depends on REPORT_THS_DATA
        help
        Enable get weather data from HTTP.

choice
    prompt "Select Region Type"
    default REGION_CHINA
    depends on UPDATE_WEATHER_DATA

    config REGION_INTERNATIONAL
        bool "International"

    config REGION_CHINA
        bool "China"
endchoice

    config CITY_DISTRICT_ID
        string "District ID for weather data"
        default "310115"
        depends on UPDATE_WEATHER_DATA
        help
        Specify the district ID to get weather data from HTTP.

    config CHINA_CITY_NAME
        string "China City Name"
        depends on REGION_CHINA
        default "Shanghai"
        help
        Specify the name of the domestic city (e.g., Shanghai).

    config CHINA_DISTRICT_NAME
        string "China District Name"
        depends on REGION_CHINA
        default "Pudong"
        help
        Specify the name of the domestic district (e.g., Pudong).

endmenu
