menu "IoT Touch EB settings"
    choice TOUCH_EB_VERSION
        bool "ESP32-Sense EB version"
        default TOUCH_EB_V3
        help
          select the Touch EB(ESP32-Sense Kit) hardware version

    config TOUCH_EB_V3
        bool "TOUCH_EB_V3"
    endchoice

endmenu
