# Enable BT/NimBLE and BLE connection OTA profile by default
CONFIG_BT_ENABLED=y
CONFIG_BT_NIMBLE_ENABLED=y
CONFIG_BLE_OTA_RAW_PROFILE=y
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_BT_NIMBLE_ATT_PREFERRED_MTU=515
CONFIG_BT_NIMBLE_LOG_LEVEL_WARNING=y

#
# Partition Table
#
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_OFFSET=0x8000
CONFIG_PARTITION_TABLE_MD5=y
# end of Partition Table
