
CONFIG_ESP32S2_DEFAULT_CPU_FREQ_240=y
CONFIG_ESP32S2_DEFAULT_CPU_FREQ_MHZ=240
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y

#
# ESP PSRAM
#
CONFIG_SPIRAM=y

#
# Compiler options
#
CONFIG_COMPILER_OPTIMIZATION_PERF=y
