#
# ESP32S3-Specific
#
CONFIG_ESP32S3_DEFAULT_CPU_FREQ_240=y
CONFIG_ESP32S3_DEFAULT_CPU_FREQ_MHZ=240

CONFIG_USBH_TASK_CORE_ID=1
CONFIG_ESP32S3_INSTRUCTION_CACHE_32KB=y
CONFIG_USBH_CDC_CONTROL_TRANSFER_BUFFER_SIZE=512
