:root {
    --margin-num: 15px;
    --padding-15: 15px;
    --font-size-mini: 12px;
    --font-size-small: 14px;
    --font-size-normal: 16px;
    --font-size-large: 18px;
    --font-size-oversized: 22px;
    --gray-color: #888888;
    --white-color: #fff;
    --black-color: #333;
    --red: #ef2626;
    --orange-color: #ff5928;
    --blue-color: #5db9f8;
    --blue-color-light: rgba(93, 185, 248, .6);
    --light-blue-color: #edf4ff;
    --light-blue-color-1: #edf4ff;
    --light-blue-color-2: #dee6f3;
    --light-blue-color-3: #9ba7b6;
    --light-blue-color-p-1: rgba(178, 178, 178, .1);
    --border-radius: 16px;
    --border-radius-small: 10px;
    --bg-image: url('../images/bg.png');
    --logo: var(--bg-image) -250px -10px;
    --qr: var(--bg-image) -10px -10px;
    --light: var(--bg-image) -75px -250px;
    --light-online: var(--bg-image) -10px -250px;
    --fan: var(--bg-image) -250px -151px;
    --fan-online: var(--bg-image) -250px -86px;
    --router: var(--bg-image) -205px -250px;
    --router-online: var(--bg-image) -140px -250px;
    --sensor: var(--bg-image) -326px -75px;
    --sensor-online: var(--bg-image) -326px -10px;
    --socket: var(--bg-image) -326px -205px;
    --socket-online: var(--bg-image) -326px -140px;
    --switch: var(--bg-image) -75px -315px;
    --switch-online: var(--bg-image) -10px -315px;
}
@font-face {font-family: "iconfont";
    src: url('../fonts/iconfont.woff2') format('woff2'),
    url('../fonts/iconfont.woff') format('woff'),
    url('../fonts/iconfont.ttf') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-eye:before {
    content: "\e857";
}

.icon-eye-1:before {
    content: "\e620";
}

.icon-mimasuo:before {
    content: "\e678";
}

.icon-luyouqi:before {
    content: "\e627";
}

.icon-logo-black:before {
    content: "\e61a";
}


*:focus,*:active:focus,*:active {
    outline: none !important;
}
*:not(input, textarea) {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font: var(--font-size-small) 'Poppins-Regular', 'Avenir', Helvetica, Arial, sans-serif;
    color: var(--gray-color);
    overflow: hidden;
}
html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}
/*去除IE文本框自带的叉号*/
::-ms-clear{
    display: none;
}
/*去除高亮*/
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
a {
    text-decoration: none;
    outline:none;
    -moz-outline-style:none;
}
.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.flex-v {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.flex-ac {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.flex-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.flex-jcc {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.flex-jcb {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.flex-1 {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.home-base {
    height: 100%;
    width: 100%;
}

.header-base {
    width: 100%;
    height: 80px;
    background-color: #2468A9;
    position: relative;
}

.header-logo {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    width: 150px;
    height: auto;
}

.header-menu {
    /*display: none;*/
}

.content-base {
    width: 100%;
    min-width: 300px;
    overflow: hidden;
    overflow-x: auto;
    height: calc(100% - 80px);
}
.login-base {
    width: 100%;
    height: calc(100% - 80px);
    background-image: url("../img/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.login-content {
    position: absolute;
    top: 20%;
    left: 15%;
    width: 350px;
    min-height: 260px;
    height: 40%;
    background-color: #E8EEF4;
    border-radius: 8px;
}

.content-router {
    font-size: 50px;
    text-align: center;
    padding-top: 5%;
    color: #2138A4 !important;
    height: 22%;
    width: 100%;
}
.login-title {
    text-align: center;
    color: #2138A4;
    font-size: 20px;
    font-weight: bolder;
}

.password-base {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #cccccc;
    background-color: white;
    width: 50%;
    border-radius: 5px;
    box-sizing: border-box;
    justify-content: space-between;
}
.pwd-two {
    border: none;
    box-sizing: inherit;
    width: 100%;
}
.forgot-pwd {
    width: 50%;
    justify-content: flex-end;
}
.forgot-two {
    font-size: 12px;
    color: black;
}
.login-btn {
    margin: 15px;
}


.left-base {
    width: 180px;
    min-width: 180px;
    border-right: 1px solid #F0F0F2;
}

.right-base {
    flex: 1;
    box-sizing: border-box;
}

.left-title {
    /*width: 100%;*/
    text-align: center;
    margin-top: 20px;
}

.left-base ul {
    list-style-type: none;
    padding:0;
    margin: 0;
    text-align: center;
}

.left-base li {
    padding-top: 20px;
}

.left-base li a {
    color: black;
    width: 70px;
    display: inline-block;
    text-align: left;
}

.left-base .content {
    color: #1890FF;
}

.page-header {
    height: 40px;
    width: 100%;
    background-color: #F0F0F2;
    line-height: 40px;
    padding-left: 10px;
    box-sizing: border-box;
}
.header-title-one {
    color: black;
}

.header-title-two {
    cursor: pointer;
}

.page-content {
    padding-top: 20px;
    padding-left: 10px;
    /*margin-left: 10px;*/
    /*margin-top: 20px;*/
    /*background-color: #ff976a;*/
    overflow: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    /*height: 100%;*/
}

.page-title {
    border-bottom:1px solid #F0F0F2;
    height: 40px;
    line-height: 40px;
}
.page-detail {
    padding: 10px;
    height: 100%;
}

.line-base {
    margin-bottom: 20px;
    position: relative;
}

.page-detail .title {
    width: 80px;
    text-align: right;
    margin-right: 20px;
    color: black;
    display: inline-block;
    line-height: 50px;
}
.page-detail .content {
    width: 200px;
    height: 30px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    padding-left: 10px;
}

.page-detail .content-thr {
    /*position: absolute;*/
    /*left: 10px;*/
    width: 360px;
    /*height: 50px;*/
    display: inline-block;
    margin-left: 20px;
    color: #CCCCCC;
}
.line-base-btn {
    margin-top: 30px;
    margin-left: 100px;
}
.save-btn {
    background-color: #1890FF;
    color: white;
    width: 70px;
    height: 35px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color .2s;
}

.save-btn:active {
    background-color: #CCCCCC;
}

.base-detail {
    padding: 30px;
}

.base-detail img {
    height: 50px;
    width: 50px;
}

.base-detail span {
    text-align: center;
    padding-top: 10px;
}

.base-two {
    margin-left: 15px;
    margin-right: 15px;
}

.base-line-text {
    margin-bottom: 10px;
    color: #1890FF;
}

.base-line {
    height: 2px;
    width: 200px;
    background-color: #1890FF;
}


.device-detail {
    padding: 30px;
    width: 50%;
    box-sizing: border-box;
}

.device-battery {
    margin-bottom: 20px;
    margin-right: 10px;
}

.device-content {
    color: #2468A9;
    margin-left: 15px;
    font-weight: bolder;
}

.network-detail {
    padding: 30px;
    width: 30%;
}

.tableStyle{
    background: #FFF;
    width: 100%;
    min-width: 600px;
    border-collapse: collapse;
}
.tCenter{
    text-align:center;
}
.tableTitle{
    color: #5f6c7e;
    font-weight: bold;
    text-align: center;
}
.tableStyle tr{
    border-bottom: 1px solid #ECEDEF;
}
.tableStyle tr:nth-child(even){
    background: #f6f7f8;
}
.tableStyle tr td{
    line-height: 22px;
    height: 50px !important;
    border-right: 1px solid #dce1e6;
    border-bottom: 1px solid #dce1e6;
}
.tableStyle .tableTitle td:last-child {
    border-right: none;
}
.tableStyle tr td:last-child {
    border-right: none;
}


.switch-wrap {
    position: relative;
    height: 20px;
    width: 50px;
    border-radius: 10px;
    left: calc(50% - 25px);
    box-sizing: border-box;
    background: #999;
    cursor: pointer;
    transition: background .3s linear;
}
.switch-wrap[data-value='true'] {
    background: #0f87ec;
}
.switch-wrap:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    height: 18px;
    width: 18px;
    background: #fff;
    border-radius: 50%;
    transition: all .3s linear;
}
.switch-wrap[data-value='true']:after {
    left: calc(100% - 19px);
}
th {
    padding-bottom: 10px;
}

.edit-btn {
    background-color:transparent;
    border:0;
    color: #0f87ec;
    cursor: pointer;
}

.list-name {
    background-color:transparent;
    border:0;
    text-align: center;
    width: 100px;
    height: 25px;
}

.edit-line {
    height: 22px;
    width: 1px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #dce1e6;
}

.del-btn {
    background-color:transparent;
    border:0;
    color: red;
    cursor: pointer;
}

.del-btn:after
.edit-btn:after {
    border:0;
}




.textCenter {
    text-align: center !important;
}
.black {
    color: #333 !important;
}
.app-wrap {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    overflow: hidden;
    background: inherit;
    height: 100%;
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
}
.app-page {
    display: none;
    height: 100%;
}
.app-page.show {
    display: block;
}
.margin-top {
    margin-top: 15px;
}
.container-wrap {
    height: 100%;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    background: var(--light-blue-color);
}
.container-wrap .more {
    position: absolute;
    right: var(--margin-num);
}
.container-wrap .more .iconfont {
    font-size: var(--font-size-oversized);
}
.iconfont {
    color: var(--light-blue-color-3);
}
.header-wrap {
    height: 44px;
    position: relative;
    z-index: 2102;
    color: var(--black-color);
    background: var(--white-color);
}
.header-wrap .back {
    position: absolute;
    left: 0;
    top: 0;
    height: 44px;
    line-height: 44px;
    width: 44px;
    font-size: var(--font-size-large);
}
.header-wrap h3 {
    font-size: var(--font-size-normal);
}
.header-wrap h3 .ellipsis {
    text-align: center;
    padding: 0 50px;
    box-sizing: border-box;
}
.container-wrap .main-content {
    position: relative;
    padding: 15px;
    overflow: hidden;
    overflow-y: auto;
    height: calc(100vh - 44px);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.no-data {
    position: relative;
    background: var(--white-color);
    border-radius: var(--border-radius-small);
    text-align: left;
    padding: 20px 15px;
    box-sizing: border-box;
}
.no-data h3 {
    font-size: var(--font-size-normal);
    color: var(--black-color);
    margin: 0;
}
.no-data p {
    margin: 8px 0 20px;
    font-size: var(--font-size-mini);
}
.no-data .img-wrap img {
    width: 76%;
    margin: 0 auto;
}
.no-data .img-wrap .img > div {
    width: 45px;
    height: 45px;
    transform: scale(.8);
}
.no-data .img-wrap .img .light {
    background: var(--light);
}
.no-data .img-wrap .img .switch {
    background: var(--switch);
}
.no-data .img-wrap .img .socket {
    background: var(--socket);
}
.no-data .img-wrap .img .fan {
    background: var(--fan);
}
.no-data .img-wrap .img .sensor {
    background: var(--sensor)
}
.no-data .img-wrap .img .router {
    background: var(--router);
}

.no-data .add-wrap {
    margin-top: 20px;
    text-align: center;
}
.no-data .add-wrap span {
    background: var(--blue-color);
    color: var(--white-color);
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
}
.ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
}
.loading-wrap {
    position: fixed;
    top: 44px;
    left: 0;
    width: 100%;
    bottom: 0;
    padding: var(--padding-15);
    background: var(--light-blue-color-1);
    box-sizing: border-box;
}
.loading-wrap .loading-content {
    width: 100%;
    height: 100%;
    padding-top: 12vh;
    box-sizing: border-box;
    background: var(--white-color);
    border-radius: var(--border-radius-small);
}
.loading-wrap .loading {
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 16px;
}
.loading-wrap .loading-spinner {
    position: relative;
    margin: 0 auto;
    padding: 20px;
    background: var(--qr);
    width: 70vw;
    height: 70vw;
    max-width: 220px;
    max-height: 220px;
    box-sizing: border-box;
}
.loading-wrap .loading-spinner:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 70%;
    height: 70%;
    transform: translate(-50%, -50%);
    border: 6px solid #edf4ff;
    border-radius: 50%;
    box-sizing: border-box;
    background: #fff;
}
.loading-wrap .logo-img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 28%;
    height: 28%;
    min-height: 56px;
    min-width: 56px;
    transform: translate(-50%, -50%);
    background: var(--logo);

}
.loading-wrap .text {
    font-size: var(--font-size-normal);
    margin-top: 1.5vh;
    color: var(--black-color);
}
.van-loading__spinner {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    -webkit-animation: van-rotate 1s linear infinite;
    animation: van-rotate 1s linear infinite;
}
.van-loading__circular circle {
    -webkit-animation: van-circular 1.5s ease-in-out infinite;
    animation: van-circular 1.5s ease-in-out infinite;
    stroke: currentColor;
    stroke-width: 3;
    stroke-linecap: round;
}
.hide {
    display: none;
}
.container-wrap .main-content .item-wrap .item {
    position: relative;
    min-width: 45%;
    max-width: calc(50% - 6px);
    background: #fff;
    margin-bottom: 12px;
    padding: 15px 10px;
    border-radius: 12px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;
    font-weight: 500;
    color: #333;
}
.container-wrap .main-content .item-wrap .item .item-img img {
    width: 46px;
    height: auto;
}
.container-wrap .main-content .item-wrap .item .switch-btn {
    position: relative;
    height: 16px;
    width: 52px;
    background: #edf4ff;
    border: none;
    border-radius: 8px;
}
.container-wrap .main-content .item-wrap .item .switch-btn:after {
    content: '';
    position: absolute;
    left: 0;
    top: -5px;
    height: 26px;
    width: 26px;
    background: #dee6f3;
    border-radius: 50%;
    transition: transform .2s linear;
}
.container-wrap .main-content .item-wrap .item .switch-btn.active:after {
    transform: translateX(26px);
    background: #5db9f8;
}
.container-wrap .main-content .item-wrap .item .item-header .item-img > div {
    width: 45px;
    height: 45px;
}
.container-wrap .main-content .item-wrap .item .item-header .item-img > div.light {
    background: var(--light);
}
.container-wrap .main-content .item-wrap .item .item-header.active .item-img > div.light {
    background: var(--light-online);
}
.container-wrap .main-content .item-wrap .item .item-header .item-img > div.switch {
    background: var(--switch);
}
.container-wrap .main-content .item-wrap .item .item-header.active .item-img > div.switch {
    background: var(--switch-online);
}
.container-wrap .main-content .item-wrap .item .item-header .item-img > div.socket {
    background: var(--socket);
}
.container-wrap .main-content .item-wrap .item .item-header.active .item-img > div.socket {
    background: var(--socket-online);
}
.container-wrap .main-content .item-wrap .item .item-header .item-img > div.fan {
    background: var(--fan);
}
.container-wrap .main-content .item-wrap .item .item-header.active .item-img > div.fan {
    background: var(--fan-online);
}
.container-wrap .main-content .item-wrap .item .item-header .item-img > div.sensor {
    background: var(--sensor);
}
.container-wrap .main-content .item-wrap .item .item-header.active .item-img > div.sensor {
    background: var(--sensor-online);
}
.container-wrap .main-content .item-wrap .item .item-header .item-img > div.router {
    background: var(--router);
}
.container-wrap .main-content .item-wrap .item .item-header.active .item-img > div.router {
    background: var(--router-online);
}
.device-type-wrap {
    text-align: left;
    padding-bottom: 4px;
    box-sizing: border-box;
}
.device-type-wrap .item-header {
    color: #333;
    font-weight: 500;
    font-size: var(--font-size-normal);
    padding-left: 5px;
    margin-bottom: 8px;
}
.device-type-wrap .item {
    padding: 10px 15px;
    font-size: var(--font-size-normal);
    color: var(--black-color);
    background: var(--white-color);
    margin-bottom: 14px;
    border-radius: var(--border-radius-small);
    height: 66px;
    box-sizing: border-box;
}
.device-type-wrap .item .img {
    width: 45px;
    height: 45px;
    margin-right: 10px;
}
.device-type-wrap .item .img.light {
    background: var(--light-online);
}
.device-type-wrap .item .img.switch {
    background: var(--switch-online);
}
.device-type-wrap .item .img.socket {
    background: var(--socket-online);
}
.device-type-wrap .item .img.fan {
    background: var(--fan-online);
}
.device-type-wrap .item .img.sensor {
    background: var(--sensor-online);
}
.device-type-wrap .item .img.router {
    background: var(--router-online);
}
.device-type-wrap .item.disabled {
     background: var(--light-blue-color-p-1);
}
.device-type-wrap .item img {
    width: 45px;
    height: auto;
    margin-right: 10px;
}
.collapse-wrap {
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 8px #fff;
    padding: 0 16px;
}
.collapse-wrap .collapse-title {
    text-align: left;
    margin: 0;
    padding: 12px 0;
    font-size: 14px;
    border-bottom: 1px solid #eeeded;
    color: #333;
}
.value,
.collapse-item .collapse-item-info .title{
    color: #333;
}
.collapse-item .collapse-item-info .title {
    margin-bottom: 4px;
}
.collapse-item .collapse-item-info .desc {
    font-size: 12px;
}
.collapse-item {
    padding: 12px 4px;
    border-bottom: 1px solid #eeeded;
}
.collapse-item label {
    width: 70px;
    text-align: left;
}
.collapse-item:last-child {
    border-bottom: none;
}
.collapse-item .collapse-item-info {
    flex: 1;
    text-align: left;
}
.collapse-item .collapse-item-info .color {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}
.collapse-item .command-select {
    flex: 1;
    text-align: left;
    padding-left: 12px;
    box-sizing: border-box;
}
.collapse-item .right-icon {
    width: 24px;
    height: 20px;
    line-height: 20px;
    text-align: right;
}
.collapse-item .command-select textarea {
    resize: none;
    height: 50px;
    width: 100%;
    text-align: left;
    box-sizing: border-box;
    border: none;
    color: var(--gray-color);
}
.btn-wrap {
    padding: 0 15px;
    margin-top: 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.btn {
    height: 40px;
    width: 100%;
    background: #5db9f8;
    border: 1px solid #5db9f8;
    color: #fff;
    border-radius: 999px;
}
.model-wrap {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2103;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.3);
}
.model-wrap.active {
    display: block;
}
.model-wrap .model-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #f7f8fa;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    box-shadow: 0 0 8px #fff;
    overflow: hidden;
}
.model-wrap .model-content ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.model-wrap .model-content ul li {
    padding: 12px 0;
    background: #fff;
    color: #333;
}
.model-wrap .model-content ul li.active {
    color: #5db9f8;
}
.model-wrap .model-content ul li:last-child {
    margin-top: 10px;
}
.word-count {
    margin-top: 4px;
    font-size: 12px;
    text-align: right;
}
.slider-wrap .content {
    width: 100%;
    height: 30px;
    position: relative;
    outline: none !important;
}
.slider-wrap .bar {
    width: 100%;
    height: 6px;
    border-radius: 10px;
    background: #ebedf0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
}
.slider-wrap .progress {
    width: 0;
    height: 6px;
    border-radius: 10px;
    background: rgb(93, 185, 248);
}
.slider-wrap .dot {
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 0;
    top: 0;
    margin: auto 0;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    background: #fff;
    border: 1px solid #dee6f3;
    box-shadow: 0 0 12px rgb(255, 255, 255);
    transition: border-color .2s linear, box-shadow .2s linear;
}
.slider-wrap .dot.active {
    border-color: rgb(93, 185, 248);
    box-shadow: 0 0 12px rgb(93, 185, 248);
}
.slider-wrap .dot:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 200%;
    height: 200%;
    background: transparent;
    border-radius: 50%;
}
.color-wrap {
    text-align: left;
    padding: 0 0 16px;
    border-top: 1px solid #eeeded;
    display: none;
}
.color-wrap .color-slider {
    margin-top: 16px;
}
.color-wrap label {
    display: block;
    color: #333;
    font-weight: bold;
    padding-bottom: 12px;
}
#color-slider .bar,
#command-color-slider .bar{
    background: linear-gradient(to right, red 0%, #ff0 17%, lime 33%, cyan 50%, blue 66%, #f0f 83%, red 100%);
}
.command-color {
    display: none;
    width: 24px;
    height: 24px;
    background: #ef2626;
    border-radius: 50%;
}
.color-wrap.active,
.command-color.active {
    display: block;
}

#color-slider .progress,
#command-color-slider .progress{
    background: transparent;
}
#toast-wrap {
    position: fixed;
    top: 44px;
    left: 0;
    width: 100%;
    text-align: center;
}
#toast-wrap .toast-content {
    min-height:30px;
    padding: 4px 8px;
    box-sizing: border-box;
    background:#07c160;
    color:#fff;
}
#toast-wrap .toast-content.error {
    background: #ee0a24;
}
#toast-wrap .toast-content.warning {
    background: #ff976a;
}
#loading-wrap {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2200;
    background: transparent;
}
#loading-wrap .loading-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.7);
    padding: 30px;
    box-sizing: border-box;
    border-radius: 10px;
}
#loading-wrap .loading-content .van-loading__spinner {
    width: 30px;
    height: 30px;
    color: #fff;
}
.voice-config,
.device-control {
    display: none;
}
.voice-config.active,
.device-control.active,
.device-control .color-wrap {
    display: block;
}
.device-control {
    flex: 1;
    background: #fff;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 12px;
}
.device-control .color-wrap {
    border-top: none;
}
.tab-wrap {
    margin-bottom: 15px;
}
.tab-wrap .tab-item {
    padding: 2px 0;
    margin: 0 12px;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid transparent;
}
.tab-wrap .tab-item.active {
    color: #333;
    border-color: #5db9f8;
}
.power-wrap {
    position: relative;
    width: 80vw;
    height: 80vw;
    padding: 16px;
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    margin: 15px auto;
    background: linear-gradient(#ccc, #eee);
    box-sizing: border-box;
}
.power-wrap.active {
    background: linear-gradient(#5db9f8, rgba(93, 185, 248, .6));
}
.power-wrap:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: #f5f7fc;
    border-radius: 50%;
    box-shadow:
            0 4px 4px rgba(0, 0, 0, .2),
            0 -4px 4px rgba(255, 255, 255, .1),
            4px 0 4px rgba(255, 255, 255, .1),
            -4px 0 4px rgba(255, 255, 255, .1)
}
.power-wrap:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 46%;
    height: 46%;
    background: #f5f7fc;
    border-radius: 50%;
    box-shadow:
            inset 0 4px 8px rgba(200, 200, 200, 0.2),
            inset 0 -4px 8px rgba(200, 200, 200, .2),
            inset 4px 0 8px rgba(200, 200, 200, .2),
            inset -4px 0 8px rgba(200, 200, 200, .2)
}
.power-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 2;
}
.power-content .iconfont {
    color: #cccccc;
    font-size: 50px;
    border-radius: 50%;
}
.power-wrap.active .power-content .iconfont {
    color: #5db9f8;
}
@-webkit-keyframes van-circular{
    0%{
        stroke-dasharray:1,200;
        stroke-dashoffset:0
    }
    50%{
        stroke-dasharray:90,150;
        stroke-dashoffset:-40
    }
    100%{
        stroke-dasharray:90,150;
        stroke-dashoffset:-120
    }
}
@keyframes van-circular{
    0%{
        stroke-dasharray:1,200;
        stroke-dashoffset:0
    }
    50%{
        stroke-dasharray:90,150;
        stroke-dashoffset:-40
    }
    100%{
        stroke-dasharray:90,150;
        stroke-dashoffset:-120
    }
}
@-webkit-keyframes van-rotate{
    from{
        -webkit-transform:rotate(0);
        transform:rotate(0)
    }
    to
    {
        -webkit-transform:rotate(360deg);
        transform:rotate(360deg)
    }
}
@keyframes van-rotate{
    from{
        -webkit-transform:rotate(0);
        transform:rotate(0)
    }
    to{
        -webkit-transform:rotate(360deg);
        transform:rotate(360deg)
    }
}


@media (max-width: 768px) {
    .left-base {
        z-index: 1000;
        position: fixed;
        top: 80px;
        bottom: 0;
        display: none;
        overflow: hidden;
        background-color: white;
    }
    .header-menu {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        width: 40px;
        height: 40px;
        background-image: url("../img/menu.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .delMenu {
        background-image: url("../img/deleteMenu.png");
    }
    .page-detail .content-thr {
        width: 200px;
        display: inline-block;
        margin-left: 20px;
        color: #CCCCCC;
    }
    .base-detail {
        padding: 10px;
    }

    .base-detail img {
        height: 30px;
        width: 30px;
    }

    .base-detail span {
        text-align: center;
        padding-top: 10px;
        font-size: 12px;
    }

    .base-two {
        margin-left: 15px;
        margin-right: 15px;
    }

    .base-line-text {
        margin-bottom: 10px;
        color: #1890FF;
    }

    .base-line {
        height: 2px;
        width: 110px;
        background-color: #1890FF;
    }
    .device-detail {
        width: 100%;
    }
}
