menu "Lowpower EVB settings"

    config LOWPOWER_EVB_TASK_STACK
        int "Set lowpower evb task stack size"
        default 4096
        help
            "Set lowpower evb task stack size"

    choice WAKE_UP_TYPE
        bool "Wake up type"
        default ULP_WAKE_UP
        help
            "Select the wake up type"

    config ULP_WAKE_UP
        bool "ulp wake up"
    config GPIO_WAKE_UP
        bool "gpio wake up"
    config TIMER_WAKE_UP
        bool "timer wake up"
    endchoice

    config WAKEUP_TIME_US
        depends on TIMER_WAKE_UP
        int "wake up time(us)"
        default 5000000
        help
            "Set wake up time, a 64-bit unsigned value"

    choice WIFI_CONFIGURE
        bool "WiFi configure mode"
        default USE_ESP_TOUCH_CONFIG
        help
            "Select WiFi configure mode"

    config USE_ESP_TOUCH_CONFIG
        bool "esp-touch"
    config USE_FIXED_ROUTER
        bool "fixed router"
    endchoice
    
    config FIXED_ROUTER_SSID
	    depends on USE_FIXED_ROUTER
	    string "Set SSID of fixed router"
	    default "router_ssid"
	    help
	        "Set SSID of fixed router"

	config FIXED_ROUTER_PASSWORD
	    depends on USE_FIXED_ROUTER
	    string "Set password of fixed router"
	    default "router_password"
	    help
	        "Set password of fixed router"
            
    config SERVER_IP
        string "Set server IP to connect to"
        default "192.168.111.116"
        help
            "Set server IP to connect to"

    config SERVER_PORT
        int "Set server port to connect to"
        default 8000
        help
            "Set server port to connect to"

    config UPLOAD_DATA_SIZE
        int "Set upload data size"
        default 2048
        help
            "Set upload data size"
            
    config READ_SENSOR_VALUE_NUM
        int "Read sensor value number"
        range 0 600
        default 20
        help
            "Set sensor value number need to read, can not greater than 600"

    config READ_SENSOR_INTERVAL
		int "Read sensor interval(ms)"
		default 200
		help
		    "Set read sensor interval"

    config ENABLE_EPAPER
        bool "Enable E-ink"
        default n
        help
            "Enable E-ink"
endmenu
