[submodule "components/gui/lvgl_gui/lvgl"]
	path = components/gui/lvgl_gui/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "examples/hmi/lvgl_example/components/lv_examples/lv_examples"]
	path = examples/hmi/lvgl_example/components/lv_examples/lv_examples
	url = https://github.com/lvgl/lv_examples.git
