[submodule "submodule/esp-idf"]
	path = submodule/esp-idf
	url = https://github.com/espressif/esp-idf.git
[submodule "components/network/mqtt/espmqtt"]
	path = components/network/mqtt/espmqtt
	url = https://github.com/tuanpmt/espmqtt.git
[submodule "components/platforms/alink/esp32-alink"]
	path = components/platforms/alink/esp32-alink
	url = https://github.com/espressif/esp32-alink.git
