[submodule "components/gui/lvgl_gui/lvgl"]
	path = components/gui/lvgl_gui/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "examples/hmi/lvgl_example/components/lv_examples/lv_examples"]
	path = examples/hmi/lvgl_example/components/lv_examples/lv_examples
	url = https://github.com/lvgl/lv_examples.git
[submodule "examples/camera/camera_components/esp32-camera"]
	path = examples/camera/camera_components/esp32-camera
	url = https://github.com/espressif/esp32-camera
[submodule "examples/decompress/xz_compressed_ota/bootloader_components"]
	path = examples/decompress/xz_compressed_ota/bootloader_components
	url = https://github.com/espressif/esp-bootloader-plus.git
