menu "Sensor Hub Options"

    menu "Sensor Hal Options"
        menu "IMU Hal Options"
            config SENSOR_IMU_INCLUDED_MPU6050
                bool "include MPU6050 driver"
                default y
            config SENSOR_IMU_INCLUDED_LIS2DH12
                bool "include LIS2DH12 driver"
                default y
        endmenu
        menu "Humiture Hal Options"
            config SENSOR_HUMITURE_INCLUDED_SHT3X
                bool "include SHT3X driver"
                default y
            config SENSOR_HUMITURE_INCLUDED_HTS221
                bool "include HTS221 driver"
                default y
        endmenu
        menu "Light Sensor Hal Options"
            config SENSOR_LIGHT_INCLUDED_BH1750
                bool "include BH1750 driver"
                default y
            config SENSOR_LIGHT_INCLUDED_VEML6040
                bool "include VEML6040 driver"
                default y
            config SENSOR_LIGHT_INCLUDED_VEML6075
                bool "include VEML6075 driver"
                default y
        endmenu
    endmenu

    menu "Sensor Build Options"
        config SENSOR_INCLUDED_IMU
            bool "include imu sensor driver in sensor hub"
            default y
        config SENSOR_INCLUDED_HUMITURE
            bool "include humiture sensor driver in sensor hub"
            default y
        config SENSOR_INCLUDED_LIGHT
            bool "include light sensor driver in sensor hub"
            default y
    endmenu

    menu "Sensor Task Options"
        config SENSOR_TASK_PRIORITY_INHERIT
            bool "sensor task priority inherit from parent"
            default y
        config SENSOR_TASK_PRIORITY
            int "sensor task priority"
            depends on !SENSOR_TASK_PRIORITY_INHERIT
            default 4 if !SENSOR_TASK_PRIORITY_INHERIT
        config SENSOR_TASK_STACK_SIZE
            int "sensor task stack size"
            default 2048
    endmenu

    menu "Sensor Event Loop Options"
        config SENSORS_EVENT_TASK_PRIORITY_INHERIT
            bool "sensor event loop task priority inherit from parent"
            default y
        config SENSORS_EVENT_TASK_PRIORITY
            int "sensor event loop task priority"
            depends on !SENSORS_EVENT_TASK_PRIORITY_INHERIT
            default 5 if !SENSORS_EVENT_TASK_PRIORITY_INHERIT
        config SENSOR_EVENT_LOOP_AUTO
            bool "creat sensor event loop automatically"
            default y
        config SENSORS_EVENT_QUEUE_SIZE
            int "sensor event loop queue size"
            default 32 
        config SENSORS_EVENT_STACK_SIZE
            int "sensor event loop task stack size"
            default 4096
        config SENSOR_DEFAULT_HANDLER
            bool "enable sensor default handler"
            default n
        config SENSOR_DEFAULT_HANDLER_DATA
            bool "print data in sensor default handler"
            depends on SENSOR_DEFAULT_HANDLER
            default n
    endmenu

endmenu
