# Lightbulb driver
CONFIG_USE_GPTIMER_GENERATE_TICKS=n
CONFIG_ENABLE_LIGHTBULB_DEBUG=y

# IDF unit test
CONFIG_UNITY_FREERTOS_STACK_SIZE=10240
CONFIG_ESP_MAIN_TASK_STACK_SIZE=8192

# Freertos
CONFIG_FREERTOS_HZ=1000

# For IDF 5.0
CONFIG_ESP_TASK_WDT_EN=n

# For IDF4.4
CONFIG_ESP_TASK_WDT=n
