CONFIG_ESP_SYSTEM_MEMPROT_FEATURE=n

CONFIG_EXTENDED_VFS_SPI=n

CONFIG_LITTLEFS_FCNTL_GET_PATH=y
CONFIG_LITTLEFS_OPEN_DIR=y
CONFIG_LITTLEFS_SPIFFS_COMPAT=y

CONFIG_ELF_SHELL=y
CONFIG_ELF_DYNAMIC_LOAD_SHARED_OBJECT=y
