
#
# IoT Components Management
#


#
# I2C devices
#
CONFIG_IOT_FT5X06_ENABLE=y

#
# SPI devices
#
CONFIG_IOT_LCD_ENABLE=y
CONFIG_IOT_EINK_ENABLE=y
CONFIG_IOT_TOUCH_SCREEN_ENABLE=y

#
# I2S devices
#
CONFIG_IOT_LCD_NT35510_ENABLE=y
CONFIG_IOT_LCD_ILI9806_ENABLE=
CONFIG_BIT_MODE_16BIT=y
CONFIG_BIT_MODE_8BIT=

#
# HMI components
#
CONFIG_UGFX_GUI_ENABLE=y

#
# uGFX Settings
#
CONFIG_UGFX_PROJ_RESOURCE_PATH="resource/include"
CONFIG_UGFX_USE_CUSTOM_DRIVER=
CONFIG_UGFX_USE_CONFIGURED_OPTIONS=y
CONFIG_UGFX_DRIVER_TOUCH_SCREEN_ENABLE=y
CONFIG_UGFX_LCD_DRIVER_FRAMEBUFFER_MODE=y
CONFIG_UGFX_LCD_DRIVER_API_MODE=
CONFIG_UGFX_DRIVER_AUTO_FLUSH_ENABLE=y
CONFIG_UGFX_DRIVER_AUTO_FLUSH_INTERVAL=200
CONFIG_UGFX_DISP_ROTATE_0=
CONFIG_UGFX_DISP_ROTATE_90=y
CONFIG_UGFX_DISP_ROTATE_180=
CONFIG_UGFX_DISP_ROTATE_270=

#
# Config Driver
#
CONFIG_UGFX_DRIVER_SCREEN_WIDTH=480
CONFIG_UGFX_DRIVER_SCREEN_HEIGHT=800
CONFIG_UGFX_DRIVER_TOUCH_XPT2046=
CONFIG_UGFX_DRIVER_TOUCH_FT5X06=y
CONFIG_UGFX_DRIVER_ILI9341=
CONFIG_UGFX_DRIVER_SSD1306=
CONFIG_UGFX_DRIVER_ST7789=
CONFIG_UGFX_DRIVER_NT35510=y
CONFIG_UGFX_DRIVER_EPAPER=

#
# SPI RAM config
#
CONFIG_SPIRAM_SUPPORT=y

#
# FreeRTOS
#
CONFIG_FREERTOS_HZ=1000