menu "IoT USB Host CDC"

    config USBH_TASK_CORE_ID
        int "usbh CDC task core_id"
        default 0
        range -1 1
        help
            usb host CDC task to specified core

    config USBH_TASK_BASE_PRIORITY
        int "usbh CDC task base priority"
        default 5
        help
            usb host CDC task base priority

    config USBH_CDC_CONTROL_TRANSFER_BUFFER_SIZE
        int "usbh CDC control transfer size"
        default 256
        help
            usb host CDC control transfer buffer size

    config USBH_CDC_IN_EP_RETRY_COUNT
        int "usbh CDC IN EP retry count"
        default 3
        help
            usb host CDC IN EP retry count, exceed this count will stop transfer
endmenu
