menu "BLE Standard Services"

    orsource "./ans/Kconfig.in"
    orsource "./dis/Kconfig.in"
    orsource "./bas/Kconfig.in"
    orsource "./hrs/Kconfig.in"
    orsource "./hts/Kconfig.in"
    orsource "./tps/Kconfig.in"

endmenu
