menu "BLE Standard Services"

    orsource "./ans/Kconfig.in"
    orsource "./bas/Kconfig.in"
    orsource "./bcs/Kconfig.in"
    orsource "./cts/Kconfig.in"
    orsource "./dis/Kconfig.in"
    orsource "./hrs/Kconfig.in"
    orsource "./hts/Kconfig.in"
    orsource "./midi/Kconfig.in"
    orsource "./tps/Kconfig.in"
    orsource "./uds/Kconfig.in"
    orsource "./wss/Kconfig.in"

endmenu
