menu "Example Configuration"

    choice EXAMPLE_LCD_CONTROLLER
        prompt "LCD controller model"
        default EXAMPLE_LCD_CONTROLLER_SPD2010
        help
            Select LCD controller model

        config EXAMPLE_LCD_CONTROLLER_SPD2010
            bool "SPD2010"

        config EXAMPLE_LCD_CONTROLLER_GC9B71
            bool "GC9B71"

        config EXAMPLE_LCD_CONTROLLER_SH8601
            bool "SH8601"
    endchoice

    config EXAMPLE_LCD_TOUCH_ENABLED
        bool "Enable LCD touch"
        default n
        help
            Enable this option if you wish to use display touch. You can select from touch controllers.

    choice EXAMPLE_LCD_TOUCH_CONTROLLER
        prompt "LCD touch controller model"
        depends on EXAMPLE_LCD_TOUCH_ENABLED
        default EXAMPLE_LCD_TOUCH_CONTROLLER_CST816S if EXAMPLE_LCD_CONTROLLER_GC9B71
        default EXAMPLE_LCD_TOUCH_CONTROLLER_SPD2010 if EXAMPLE_LCD_CONTROLLER_SPD2010
        help
            Select LCD touch controller model

        config EXAMPLE_LCD_TOUCH_CONTROLLER_SPD2010
            depends on EXAMPLE_LCD_CONTROLLER_SPD2010
            bool "SPD2010"

        config EXAMPLE_LCD_TOUCH_CONTROLLER_CST816S
            bool "CST816S"
    endchoice

endmenu
