CONFIG_ESPTOOLPY_FLASHFREQ_120M=y
CONFIG_SPIRAM_SPEED_120M=y
CONFIG_IDF_EXPERIMENTAL_FEATURES=y

# For ESP-IDF release/v5.5 versions after tag v5.5.4
# See espressif/esp-idf!48193 and ae_group/esp-iot-solution!1571 for details
# FOR TEST APPS ONLY. READ THE DOCUMENTATION BEFORE USE.
CONFIG_BOOTLOADER_FLASH_DC_AWARE=y
