menu "USB Camera Demo"

    config USE_PSRAM
        bool "Use Psram As Picture Buffer"
        default n

    choice DEVELOP_BOARD
        prompt "Develop Board"
        default BOARD_KALUGA_1

        config BOARD_KALUGA_1
            bool "esp32-s2 kaluga with st7789"

        config BOARD_EXPERIMENT
            bool "experiment board with ili9341"
        config BOARD_EXPERIMENT_S3
            bool "experiment board S3 with st7789"
    endchoice

    choice PIC_SIZE
        prompt "Picture Size"
        default SIZE_320_240

        config SIZE_320_240
            bool "320*240"
        config SIZE_160_120
            bool "160*120"
    endchoice

    config LCD_BUF_WIDTH
        int "LCD buffer width"
        default 320 if SIZE_320_240
        default 160 if SIZE_160_120

    config LCD_BUF_HIGHT
        int "LCD buffer height"
        default 48 if SIZE_320_240
        default 120 if SIZE_160_120

    config BOOT_ANIMATION
        depends on SIZE_320_240
        bool "enable boot animation"
        default n

endmenu