#
# TinyUSB
#
CONFIG_TINYUSB=y
CONFIG_TINYUSB_HID_ENABLED=y
CONFIG_TINYUSB_HID_BUFSIZE=64

#
# Board Options
#
CONFIG_BOARD_ESP32S3_USB_OTG_EV=y
CONFIG_BOARD_BTN_INIT=n
CONFIG_BOARD_SPI2_INIT=n
CONFIG_BOARD_SPI3_INIT=n
CONFIG_BOARD_I2C0_INIT=n