choice CLOUD_TYPE
    bool "cloud type"
    default CLOUD_ALINK
    help
      select the cloud type

config CLOUD_ALINK
    bool "alink cloud"
config CLOUD_JOYLINK
    bool "joylink cloud"
endchoice
