menu "Touch Screen Driver"
    choice TOUCH_DRIVER_SELECT
        prompt "Choose Touch Screen Driver"
        default TOUCH_DRIVER_XPT2046
        config TOUCH_DRIVER_XPT2046
            bool "XPT2046"
        config TOUCH_DRIVER_FT5X06
            bool "FT5X06"
        config TOUCH_DRIVER_NS2016
            bool "NS2016"

    endchoice

    choice TOUCH_DRIVER_INTERFACE_SELECT
        prompt "Choose Touch Screen Interface"
        default TOUCH_DRIVER_INTERFACE_SPI
        config TOUCH_DRIVER_INTERFACE_I2C
            bool "I2C"
        config TOUCH_DRIVER_INTERFACE_SPI
            bool "SPI"

    endchoice

    menu "SPI Interface Configuration"
        depends on TOUCH_DRIVER_INTERFACE_SPI

        config TOUCH_SPI_USE_HOST
            bool "Use One SPI Host"
            default n
            help
                When both the screen and the touch screen are SPI interfaces, 
                they can choose to share a SPI host. At this time, it should be No

        choice TOUCH_SPI_SELECT
            depends on TOUCH_SPI_USE_HOST
            prompt "Select SPI Port"
            default TOUCH_SPI_HSPI

            config TOUCH_SPI_HSPI
                bool "Select HSPI"

            config TOUCH_SPI_VSPI
                bool "Select VSPI"

        endchoice
        config TOUCH_SPI_HOST
            depends on TOUCH_SPI_USE_HOST
            int
            default 1 if TOUCH_SPI_HSPI
            default 2 if TOUCH_SPI_VSPI

        config TOUCH_SPI_CLOCK_FREQ
            depends on TOUCH_SPI_USE_HOST
            int "TOUCH SPI Clock"
            range 0 20000000
            default 5000000

        config TOUCH_SPI_MISO_PIN
            depends on TOUCH_SPI_USE_HOST
            int "TOUCH MISO PIN"
            range -1 39 if IDF_TARGET_ESP32
            range -1 46 if IDF_TARGET_ESP32S2
            default 27
        config TOUCH_SPI_MOSI_PIN
            depends on TOUCH_SPI_USE_HOST
            int "TOUCH MOSI PIN"
            range -1 39 if IDF_TARGET_ESP32
            range -1 46 if IDF_TARGET_ESP32S2
            default 21
        config TOUCH_SPI_CLK_PIN
            depends on TOUCH_SPI_USE_HOST
            int "TOUCH CLK PIN"
            range -1 39 if IDF_TARGET_ESP32
            range -1 46 if IDF_TARGET_ESP32S2
            default 22
        config TOUCH_SPI_CS_PIN
            int "TOUCH CS PIN"
            range -1 39 if IDF_TARGET_ESP32
            range -1 46 if IDF_TARGET_ESP32S2
            default 32
    endmenu

    menu "I2C Interface Configuration"
        depends on TOUCH_DRIVER_INTERFACE_I2C

        config TOUCH_I2C_PORT_NUM
            int "Touch IIC Num"
            range 0 1
            default 0
        config TOUCH_I2C_SCL_PIN
            int "Touch I2C SCL PIN"
            range -1 39 if IDF_TARGET_ESP32
            range -1 46 if IDF_TARGET_ESP32S2
            default 3
        config TOUCH_I2C_SDA_PIN
            int "Touch I2C SDA PIN"
            range -1 39 if IDF_TARGET_ESP32
            range -1 46 if IDF_TARGET_ESP32S2
            default 1
        config TOUCH_I2C_ADDRESS
            hex "Touch IIC address"
            range 0x00 0xFF
            default 0x38 if TOUCH_DRIVER_FT5X06
            default 0x48 if TOUCH_DRIVER_NS2016
            default 0
    endmenu

    config TOUCH_SCREEN_WIDTH
        int "Touch screen width pixels"
        range 1 1000
        default 240

    config TOUCH_SCREEN_HEIGHT
        int "Touch screen height pixels"
        range 1 1000
        default 320

    config TOUCH_INT_PIN_NUM
        int "Touch IRQ pin num"
        range -1 39 if IDF_TARGET_ESP32
        range -1 46 if IDF_TARGET_ESP32S2
        default 33 if TOUCH_DRIVER_XPT2046
        default 35 if TOUCH_DRIVER_FT5X06
        default -1

    choice TOUCH_DIRECTION_CHOICE
        prompt "Select screen ratate direction"
        default TOUCH_DIR_LRTB
        config TOUCH_DIR_LRTB
            bool "Left to Right, Top to Bottom"
        config TOUCH_DIR_LRBT
            bool "Left to Right, Bottom to Top"
        config TOUCH_DIR_RLTB
            bool "Right to Left, Top to Bottom"
        config TOUCH_DIR_RLBT
            bool "Right to Left, Bottom to Top"
        config TOUCH_DIR_TBLR
            bool "Top to Bottom, Left to Right"
        config TOUCH_DIR_BTLR
            bool "Bottom to Top, Left to Right"
        config TOUCH_DIR_TBRL
            bool "Top to Bottom, Right to Left"
        config TOUCH_DIR_BTRL
            bool "Bottom to Top, Right to Left"

    endchoice
    config TOUCH_DIRECTION
        int
        range 0 7
        default 0 if TOUCH_DIR_LRTB
        default 1 if TOUCH_DIR_LRBT
        default 2 if TOUCH_DIR_RLTB
        default 3 if TOUCH_DIR_RLBT
        default 4 if TOUCH_DIR_TBLR
        default 5 if TOUCH_DIR_BTLR
        default 6 if TOUCH_DIR_TBRL
        default 7 if TOUCH_DIR_BTRL

endmenu