menu "Board Options"
    
    choice BOARD_TARGET
        prompt "Choose Target Board"

        config BOARD_ESP32_DEVKITC_V4
            bool "Devkitc-V4 With ESP32 Onboard From Espressif"
        config BOARD_ESP32_MESHKIT_SENSE
            bool "Meshkit Sense With ESP32 Onboard From Espressif"
        config BOARD_ESP32S2_SAOLA_1
            bool "Saola With ESP32S2 Onboard From Espressif"
        config BOARD_ESP32_LCDKIT
            bool "ESP32-LCDKit_V1.1"
        config BOARD_ESP32S3_USB_OTG_EV
            bool "ESP32S3-USB-OTG-EV (ESP32S2 compatible)"
    endchoice

    menu "Devkitc-V4 Board Options"
        visible if BOARD_ESP32_DEVKITC_V4

        orsource "./esp32-devkitc-v4/Kconfig.in"
        #source "{absolute path}/esp32-devkitc-v4/Kconfig.in" # v4.0 Backwards compatibility
    endmenu

    menu "Meshkit Sense Board Options"
        visible if BOARD_ESP32_MESHKIT_SENSE

        orsource "./esp32-meshkit-sense/Kconfig.in"
        #source "{absolute path}/esp32-meshkit-sense/Kconfig.in" # v4.0 Backwards compatibility
    endmenu

    menu "Saola Board Options"
        visible if BOARD_ESP32S2_SAOLA_1

        orsource "./esp32s2-saola-1/Kconfig.in"
        #source "{absolute path}/esp32s2-saola-1/Kconfig.in" # v4.0 Backwards compatibility
    endmenu

    menu "ESP32 LCDkit Board Options"
        visible if BOARD_ESP32_LCDKIT

        orsource "./esp32-lcdkit/Kconfig.in"
        #source "{absolute path}/esp32-lcdkit/Kconfig.in" # v4.0 Backwards compatibility
    endmenu

    menu "ESP32S3-USB-OTG-EV Board Options"
        visible if BOARD_ESP32S3_USB_OTG_EV

        orsource "./esp32s3_usb_otg_ev/Kconfig.in"
        #source "{absolute path}/esp32s3_usb_otg_ev/Kconfig.in" # v4.0 Backwards compatibility
    endmenu

    menu "Board Wi-Fi Settings"

        config BOARD_WIFI_SSID
            string "WiFi STA SSID"
            default ""
            help
            WiFi SSID (network name) to connect to or empty for Off.

        config BOARD_WIFI_PASSWORD
            string "WiFi STA Password"
            default ""
            help
            WiFi Password if WEP/WPA/WPA2 or empty if Open.

        config BOARD_WIFI_AP_SSID
            string "WiFi AP SSID"
            default "ESP32S3-OTG"
            help
            AP SSID (network name) to create or empty for Off.

        config BOARD_WIFI_AP_PASSWORD
            string "WiFi AP Password"
            default ""
            help
            AP password for WPA2 or empty for Open.

        config BOARD_MAX_STA_CONN
            int "WiFi AP Maximal STA connections"
            default 3
            help
            Max number of the STA connects to AP.

        config BOARD_WIFI_AP_CHANNEL
            int "WiFi AP Channel"
            default 6
            help
            AP channel for better connection performance.

        config BOARD_SERVER_IP
            string "WiFi AP IP Address"
            default "192.168.4.1"
            help
                IP address that the ESP will assign to it's AP interface. You can use this IP to connect to the camera after flashing.

        config BOARD_MAXIMUM_RETRY
            int "Maximum retry"
            default 5
            help
            Set the Maximum retry to avoid station reconnecting to the AP unlimited when the AP is really inexistent.
    endmenu

endmenu
