menu "Board Options"
    
    choice BOARD_TARGET
        prompt "Choose Target Board"

        config BOARD_ESP32_DEVKITC_V4
            bool "Devkitc-V4 With ESP32 Onboard From Espressif"
        config BOARD_ESP32_MESHKIT_SENSE
            bool "Meshkit Sense With ESP32 Onboard From Espressif"
        config BOARD_ESP32S2_SAOLA_1
            bool "Saola With ESP32S2 Onboard From Espressif"
        config BOARD_ESP32_LCDKIT
            bool "ESP32-LCDKit_V1.1"
        config BOARD_ESP32S3_USB_OTG_EV
            bool "ESP32S3-USB-OTG-EV (ESP32S2 compatible)"
    endchoice

    menu "Devkitc-V4 Board Options"
        visible if BOARD_ESP32_DEVKITC_V4

        orsource "./esp32-devkitc-v4/Kconfig.in"
        #source "{absolute path}/esp32-devkitc-v4/Kconfig.in" # v4.0 Backwards compatibility
    endmenu

    menu "Meshkit Sense Board Options"
        visible if BOARD_ESP32_MESHKIT_SENSE

        orsource "./esp32-meshkit-sense/Kconfig.in"
        #source "{absolute path}/esp32-meshkit-sense/Kconfig.in" # v4.0 Backwards compatibility
    endmenu

    menu "Saola Board Options"
        visible if BOARD_ESP32S2_SAOLA_1

        orsource "./esp32s2-saola-1/Kconfig.in"
        #source "{absolute path}/esp32s2-saola-1/Kconfig.in" # v4.0 Backwards compatibility
    endmenu

    menu "ESP32 LCDkit Board Options"
        visible if BOARD_ESP32_LCDKIT

        orsource "./esp32-lcdkit/Kconfig.in"
        #source "{absolute path}/esp32-lcdkit/Kconfig.in" # v4.0 Backwards compatibility
    endmenu

    menu "ESP32S3-USB-OTG-EV Board Options"
        visible if BOARD_ESP32S3_USB_OTG_EV

        orsource "./esp32s3_usb_otg_ev/Kconfig.in"
        #source "{absolute path}/esp32s3_usb_otg_ev/Kconfig.in" # v4.0 Backwards compatibility
    endmenu

endmenu
