# Body Composition Service

menuconfig BLE_BCS
    bool "GATT Body Composition Service"

if BLE_BCS

config BLE_BCS_FEATURE_INDICATE_ENABLE
    bool "Body Composition Feature Indication"
    default y
    help
      Set y to support Indication or n to disable it.

endif # BLE_BCS
