CONFIG_GPROF_ENABLE=y
CONFIG_GPROF_COMPONENTS="test_func;espressif__cjson"
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
