# ESP32-S31 default configuration

CONFIG_IDF_TARGET="esp32s31"

# Default LCD interface: RGB
CONFIG_EXAMPLE_LCD_INTERFACE_RGB=y

# PSRAM configuration
CONFIG_SPIRAM=y
CONFIG_SPIRAM_SPEED_250M=y
CONFIG_SPIRAM_XIP_FROM_PSRAM=y
CONFIG_SPIRAM_MEMTEST=n
CONFIG_DMA2D_OPERATION_FUNC_IN_IRAM=y
CONFIG_PM_POWER_DOWN_PERIPHERAL_IN_LIGHT_SLEEP=y
