choice SMART_DEVICE_TYPE
    bool "Device type"
    default SMART_SOCKET_DEVICE
    help
      select the device type

config SMART_SOCKET_DEVICE
    bool "smart socket"
config SMART_LIGHT_DEVICE
    bool "smart light"
endchoice
