menu "ESP-MODEM"

    choice MODEM_TARGET
        prompt "Choose Modem Board"
        default MODEM_TARGET_ML302_DNLM

        config MODEM_TARGET_ML302_DNLM
            bool "ML302-DNLM/CNLM"
        config MODEM_TARGET_AIR724UG_NFM
            bool "AIR724UG-NFM"
        config MODEM_TARGET_EC600N_CNLA_N05
            bool "EC600NCNLA-N05"
        config MODEM_TARGET_EC600N_CNLC_N06
            bool "EC600NCNLC-N06"
        config MODEM_TARGET_A7600C1
            bool "A7600C1"
        config MODEM_TARGET_USER
            bool "User Defined"
    endchoice

    menu "USB CDC endpoint address config"
        visible if MODEM_TARGET_USER
        
        config MODEM_USB_OUT_EP_ADDR
            hex "Modem USB CDC OUT endpoint address"
            default 0x01 if MODEM_TARGET_ML302_DNLM
            default 0x03 if MODEM_TARGET_AIR724UG_NFM
            default 0x0f if MODEM_TARGET_EC600N_CNLA_N05
            default 0x0a if MODEM_TARGET_EC600N_CNLC_N06
            default 0x0a if MODEM_TARGET_A7600C1
            default 0x01 if MODEM_TARGET_USER
            range 0x01 0x7f
            help
                USB OUT endpoint address (eg.0x01) used for send AT/data to device
    
        config MODEM_USB_IN_EP_ADDR
            hex "Modem USB CDC IN endpoint address"
            default 0x81 if MODEM_TARGET_ML302_DNLM
            default 0x84 if MODEM_TARGET_AIR724UG_NFM
            default 0x86 if  MODEM_TARGET_EC600N_CNLA_N05
            default 0x81 if  MODEM_TARGET_EC600N_CNLC_N06
            default 0x81 if MODEM_TARGET_A7600C1
            default 0x81 if MODEM_TARGET_USER
            range 0x81 0x8f
            help
                USB IN endpoint address (eg.0x81) used for recive data from device
    endmenu

    config MODEM_LEGACY_API
        bool "Enable Legacy API"
        default y
        help
            Set to true if the original pppos_client API from the example's internal
            component should be used.....

    config MODEM_PPP_APN
        string "Local netif hostname"
        default 'internet'
        depends on MODEM_LEGACY_API
        help
            APN (Access Point Name), a logical name of a network
            the modem connects to in the PPP mode

endmenu
