#
# LightBulb Driver Config
#
CONFIG_LB_NOTIFY_TASK_STACK=1536
#
# Drivers
#
CONFIG_ENABLE_PWM_DRIVER=y
CONFIG_ENABLE_SM2135E_DRIVER=y
CONFIG_ENABLE_SM2135EH_DRIVER=y
CONFIG_ENABLE_SM2x35EGH_DRIVER=y
CONFIG_ENABLE_BP5758D_DRIVER=y
CONFIG_ENABLE_WS2812_DRIVER=y
# end of Drivers

#
# Debug Log Config
#
CONFIG_LIGHTBULB_CHECK_DEFAULT_LEVEL_3=y
