#
# IoT Solution settings
#
CONFIG_IOT_SOLUTION_EMBED=y

#
# I2C devices
#
CONFIG_IOT_APDS9960_ENABLE=y
CONFIG_IOT_AT24C02_ENABLE=y
CONFIG_IOT_BME280_ENABLE=y
CONFIG_IOT_CH450_ENABLE=y
CONFIG_IOT_HT16C21_ENABLE=y
CONFIG_IOT_IS31FL3XXX_ENABLE=y
CONFIG_IOT_MCP23017_ENABLE=y
CONFIG_IOT_OLED_ENABLE=y
CONFIG_IOT_BH1750_ENABLE=y
CONFIG_IOT_HTS221_ENABLE=y
CONFIG_IOT_LIS2DH12_ENABLE=y
CONFIG_IOT_MVH3004D_ENABLE=y
CONFIG_IOT_VEML6040_ENABLE=y
CONFIG_IOT_HDC2010_ENABLE=y
CONFIG_IOT_FT5X06_ENABLE=y

#
# SPI devices
#
CONFIG_IOT_LCD_ENABLE=y
CONFIG_IOT_EINK_ENABLE=y
CONFIG_IOT_TOUCH_SCREEN_ENABLE=y

#
# I2S devices
#
CONFIG_IOT_LCD_NT35510_ENABLE=y
CONFIG_IOT_LCD_ILI9806_ENABLE=y
CONFIG_BIT_MODE_16BIT=y
CONFIG_BIT_MODE_8BIT=

#
# HMI Components
#
CONFIG_LVGL_GUI_ENABLE=y
CONFIG_UGFX_GUI_ENABLE=
CONFIG_GUI_DISABLE=

#
# LVGL settings
#
CONFIG_LVGL_USE_CUSTOM_DRIVER=
CONFIG_LVGL_USE_CONFIGURED_OPTIONS=y
CONFIG_LVGL_DRIVER_TOUCH_SCREEN_ENABLE=y
CONFIG_LVGL_LCD_DRIVER_FRAMEBUFFER_MODE=y
CONFIG_LVGL_LCD_DRIVER_API_MODE=
CONFIG_LVGL_DRIVER_AUTO_FLUSH_INTERVAL=50
CONFIG_LVGL_DRIVER_DOUBLE_BUFFER_ENABLE=
CONFIG_LVGL_DISP_ROTATE_0=
CONFIG_LVGL_DISP_ROTATE_90=y
CONFIG_LVGL_DISP_ROTATE_180=
CONFIG_LVGL_DISP_ROTATE_270=

#
# Config Driver
#
CONFIG_LVGL_DRIVER_TOUCH_XPT2046=y
CONFIG_LVGL_DRIVER_TOUCH_FT5X06=

#
# XPT2046 Touch Screen Pin Configuration
#
CONFIG_LVGL_TOUCH_CS_GPIO=32
CONFIG_LVGL_TOUCH_IRQ_GPIO=33
CONFIG_LVGL_DRIVER_ILI9341=
CONFIG_LVGL_DRIVER_SSD1306=y
CONFIG_LVGL_DRIVER_ST7789=
CONFIG_LVGL_DRIVER_NT35510=

#
# SSD1306 Screen Pin Configuration
#
CONFIG_LVGL_LCD_SCL_GPIO=4
CONFIG_LVGL_LCD_SDA_GPIO=17
CONFIG_SSD1306_LVGL_DRIVER_SCREEN_WIDTH=64
CONFIG_SSD1306_LVGL_DRIVER_SCREEN_HEIGHT=128
CONFIG_LVGL_DRIVER_SCREEN_WIDTH=64
CONFIG_LVGL_DRIVER_SCREEN_HEIGHT=128

#
# FreeRTOS
#
CONFIG_FREERTOS_UNICORE=
CONFIG_FREERTOS_CORETIMER_0=y
CONFIG_FREERTOS_CORETIMER_1=
CONFIG_FREERTOS_HZ=1000
CONFIG_FREERTOS_ASSERT_ON_UNTESTED_FUNCTION=y
CONFIG_FREERTOS_CHECK_STACKOVERFLOW_NONE=
CONFIG_FREERTOS_CHECK_STACKOVERFLOW_PTRVAL=
CONFIG_FREERTOS_CHECK_STACKOVERFLOW_CANARY=y
CONFIG_FREERTOS_WATCHPOINT_END_OF_STACK=
CONFIG_FREERTOS_INTERRUPT_BACKTRACE=y
CONFIG_FREERTOS_THREAD_LOCAL_STORAGE_POINTERS=1
CONFIG_FREERTOS_ASSERT_FAIL_ABORT=y
CONFIG_FREERTOS_ASSERT_FAIL_PRINT_CONTINUE=
CONFIG_FREERTOS_ASSERT_DISABLE=
CONFIG_FREERTOS_IDLE_TASK_STACKSIZE=1024
CONFIG_FREERTOS_ISR_STACKSIZE=1536
CONFIG_FREERTOS_LEGACY_HOOKS=
CONFIG_FREERTOS_MAX_TASK_NAME_LEN=16
CONFIG_SUPPORT_STATIC_ALLOCATION=
CONFIG_TIMER_TASK_PRIORITY=1
CONFIG_TIMER_TASK_STACK_DEPTH=10000
CONFIG_TIMER_QUEUE_LENGTH=10
CONFIG_FREERTOS_QUEUE_REGISTRY_SIZE=0
CONFIG_FREERTOS_USE_TRACE_FACILITY=
CONFIG_FREERTOS_GENERATE_RUN_TIME_STATS=
CONFIG_FREERTOS_DEBUG_INTERNALS=
