menu "Demo Configuration"

menu "WiFi Configuration"

config WIFI_SSID
    string "WiFi SSID"
    help
        SSID (network name) to connect to.

config WIFI_PASSWORD
    string "WiFi Password"
    help
        WiFi password (WPA or WPA2) to use.

        Can be left blank if the network has no security set.

endmenu

menu "OneNET Configuration"

config DEVICE_ID
    string "ONENET_DEVICE_ID"
    help
        mqtt client id.

config PROJECT_ID
    string "ONENET_PROJECT_ID"
    help
        mqtt username.

config AUTH_INFO
    string "ONENET_AUTH_INFO"
    help
        mqtt password.

config DATA_STREAM
    string "ONENET_DATA_STREAM"
    help
        datastream name.

endmenu

endmenu
