    
menu "IOT_ESPNOW_OPTIONS"
    config IOT_ESPNOW_PMK
    string "ESPNOW primary master key"
    default "pmk1234567890123"
    help
        "primary master key is used to encrypt local master key"

endmenu

