CONFIG_AIRMOUSE_BOARD_PRESET_ESP_SPOT_C5=y
# CONFIG_AIRMOUSE_BOARD_PRESET_SENSAIR_SHUTTLE is not set
# CONFIG_AIRMOUSE_BOARD_PRESET_CUSTOM is not set

CONFIG_IMU_I2C_SCL=26
CONFIG_IMU_I2C_SDA=25
# CONFIG_IMU_SDO_GPIO_CONTROL is not set
CONFIG_RESET_BUTTON=28
