CONFIG_TINYUSB=y
CONFIG_TINYUSB_MSC_ENABLED=y
CONFIG_TINYUSB_MSC_BUFSIZE=4096

CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions_example.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions_example.csv"

CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"

#
# Wear Levelling
#
CONFIG_WL_SECTOR_SIZE_4096=y
CONFIG_WL_SECTOR_SIZE=4096
# end of Wear Levelling

#
# FAT Filesystem support
#
CONFIG_FATFS_CODEPAGE_437=y
CONFIG_FATFS_CODEPAGE=437
CONFIG_FATFS_LFN_HEAP=y
CONFIG_FATFS_MAX_LFN=255
CONFIG_FATFS_API_ENCODING_ANSI_OEM=y
CONFIG_FATFS_FS_LOCK=0
CONFIG_FATFS_TIMEOUT_MS=10000
CONFIG_FATFS_PER_FILE_CACHE=y
# end of FAT Filesystem support

#
# BSP esp32_s3_usb_otg_rv Options
#
CONFIG_BOARD_ESP32S3_USB_OTG_EV=y
CONFIG_BOARD_SPI3_INIT=y
CONFIG_BOARD_SPI2_INIT=y

CONFIG_WIFI_HTTP_ACCESS=y

#
# Board Wi-Fi Settings
#
CONFIG_BOARD_WIFI_SSID=""
CONFIG_BOARD_WIFI_PASSWORD=""
CONFIG_BOARD_WIFI_AP_SSID="ESP-Wireless-Disk"
CONFIG_BOARD_WIFI_AP_PASSWORD=""
CONFIG_BOARD_MAX_STA_CONN=3
CONFIG_BOARD_WIFI_AP_CHANNEL=6
CONFIG_BOARD_SERVER_IP="192.168.4.1"
CONFIG_BOARD_MAXIMUM_RETRY=5
