menu "4G Modem Configuration"

    menu "gpio config"

        config LED_RED_SYSTEM_GPIO
            int "System status led (red) gpio, set 0 if not use"
            default 15
        config LED_BLUE_WIFI_GPIO
            int "Wi-Fi status led (blue) gpio, set 0 if not use"
            default 17
        config LED_GREEN_4GMODEM_GPIO
            int "Modem status led (green) gpio, set 0 if not use"
            default 16
        config MODEM_POWER_GPIO
            int "Modem power control gpio, set 0 if not use"
            default 12
        config MODEM_RESET_GPIO
            int "Modem reset control gpio, set 0 if not use"
            default 13
    endmenu

    menu "WiFi soft AP"

        config EXAMPLE_WIFI_SSID
            string "WiFi SSID"
            default "esp_4g_router"
            help
                SSID (network name) for the example to connect to.

        config EXAMPLE_WIFI_PASSWORD
            string "WiFi Password"
            default "12345678"
            help
                WiFi password (WPA or WPA2) for the example to use.
        config EXAMPLE_WIFI_CHANNEL
            int "WiFi Channel"
            range 1 13
            default 13
            help
                WiFi channel (network channel) for the example to use.

        choice 
            prompt "WiFi Bandwidth"
            default WIFI_BANDWIFTH_40

            config WIFI_BANDWIFTH_20
                bool "20MHz"
            config WIFI_BANDWIFTH_40
                bool "40MHz"
        endchoice


        config EXAMPLE_MAX_STA_CONN
            int "Maximal STA connections"
            default 5
            help
                Max number of the STA connects to AP.
        config EXAMPLE_MANUAL_DNS
            bool "config main dns address"
            default n
            help
                Config main dns address manully, using dns address from ppp by default
        config EXAMPLE_MANUAL_DNS_ADDR
            string  "main dns address"
            default "114.114.114.114"
            depends on EXAMPLE_MANUAL_DNS
    endmenu

    menu "Web router config"

        config EXAMPLE_ENABLE_WEB_ROUTER
            bool "Open web configuration"
            default n
            help
                Open the web router, you can configure the system parameters

        config EXAMPLE_WEB_MOUNT_POINT  
            string "Website mount point in VFS"
            default "/spiffs"
            depends on EXAMPLE_ENABLE_WEB_ROUTER
            help
                Specify the mount point in VFS.

        config EXAMPLE_WEB_USERNAME
            string "Default login username "
            default "esp32"
            depends on EXAMPLE_ENABLE_WEB_ROUTER
            help
                Default username for logging in to the server.

        config EXAMPLE_WEB_PASSWORD
            string "Default login password"
            default "12345678"
            depends on EXAMPLE_ENABLE_WEB_ROUTER
            help
                Default password for logging in to the server.

    endmenu

    config MODEM_DIAL_RERTY_TIMES
        int "Retry times during dial"
        default 5
        help 
            Set retry times waitting for modem link with carrier base station

    config DUMP_SYSTEM_STATUS
        bool "Dump system task status"
        default n
        help
            Dump system task status, stack left, cpu load, etc.

    config EXAMPLE_MODEM_PPP_APN
        string "Set Modem APN"
        default "internet"
        help
            Set APN (Access Point Name), a logical name to choose data network
endmenu
