#
# IoT Solution settings
#


#
# SPI devices
#
CONFIG_IOT_LCD_ENABLE=y
CONFIG_IOT_EINK_ENABLE=y
CONFIG_IOT_TOUCH_SCREEN_ENABLE=y

#
# I2S devices
#
CONFIG_IOT_LCD_NT35510_ENABLE=y
CONFIG_IOT_LCD_ILI9806_ENABLE=y
CONFIG_BIT_MODE_16BIT=y
CONFIG_BIT_MODE_8BIT=

#
# HMI Components
#
CONFIG_LVGL_GUI_ENABLE=y
CONFIG_UGFX_GUI_ENABLE=
CONFIG_SELECT_NONE=

#
# LVGL settings
#
CONFIG_LVGL_USE_CUSTOM_DRIVER=
CONFIG_LVGL_USE_CONFIGURED_OPTIONS=y
CONFIG_LVGL_DRIVER_TOUCH_SCREEN_ENABLE=y
CONFIG_LVGL_LCD_DRIVER_FRAMEBUFFER_MODE=y
CONFIG_LVGL_LCD_DRIVER_API_MODE=
CONFIG_LVGL_DRIVER_AUTO_FLUSH_INTERVAL=50
CONFIG_LVGL_DRIVER_DOUBLE_BUFFER_ENABLE=
CONFIG_LVGL_DISP_ROTATE_0=
CONFIG_LVGL_DISP_ROTATE_90=y
CONFIG_LVGL_DISP_ROTATE_180=
CONFIG_LVGL_DISP_ROTATE_270=

#
# Config Driver
#
CONFIG_LVGL_DRIVER_TOUCH_XPT2046=y
CONFIG_LVGL_DRIVER_TOUCH_FT5X06=

#
# XPT2046 Touch Screen Pin Configuration
#
CONFIG_LVGL_TOUCH_CS_GPIO=32
CONFIG_LVGL_TOUCH_IRQ_GPIO=33
CONFIG_LVGL_DRIVER_ILI9341=
CONFIG_LVGL_DRIVER_SSD1306=
CONFIG_LVGL_DRIVER_ST7789=y
CONFIG_LVGL_DRIVER_NT35510=

#
# ST7789 Screen Pin Configuration
#
CONFIG_LVGL_LCD_HSPI=y
CONFIG_LVGL_LCD_VSPI=
CONFIG_LVGL_LCD_SPI_NUM=1
CONFIG_LVGL_LCD_SPI_CLOCK=20000000
CONFIG_LVGL_LCD_MISO_GPIO=27
CONFIG_LVGL_LCD_MOSI_GPIO=21
CONFIG_LVGL_LCD_CLK_GPIO=22
CONFIG_LVGL_LCD_CS_GPIO=5
CONFIG_LVGL_LCD_DC_GPIO=19
CONFIG_LVGL_LCD_RESET_GPIO=18
CONFIG_LVGL_LCD_BL_GPIO=23
CONFIG_ST7789_LVGL_DRIVER_SCREEN_WIDTH=240
CONFIG_ST7789_LVGL_DRIVER_SCREEN_HEIGHT=320
CONFIG_LVGL_DRIVER_SCREEN_WIDTH=240
CONFIG_LVGL_DRIVER_SCREEN_HEIGHT=320

#
# FreeRTOS
#
CONFIG_FREERTOS_HZ=1000
CONFIG_TIMER_TASK_STACK_DEPTH=4096
