menu "USB Camera Demo"

    config USE_PSRAM
        bool "Use Psram As Picture Buffer"
        default n

    choice PIC_SIZE
        prompt "Picture Size"
        default SIZE_320_240

        config SIZE_320_240
            bool "320*240"
        config SIZE_160_120
            bool "160*120"
    endchoice

endmenu