menu "IoT unit-test settings"
    menu "OTA Test"
        config OTA_SERVER_IP
            string "Enter HTTP server IP or domain"
            default ""
        config OTA_SERVER_PORT
            int "Enter HTTP server port"
            default 80
        config OTA_SERVER_URI
            string "Enter OTA file path"
            default "/ota.bin"
    endmenu
    
    menu "WiFi config"
        config AP_SSID
            string "Enter SSID of router to connect to"
            default ""
            help
                "Enter SSID of router to connect to"

        config AP_PASSWORD
            string "Enter PASSWORD of router to connect to"
            default ""
            help
                "Enter PASSWORD of router to connect to"
    endmenu
    
    menu "MQTT testcase"
        config MQTT_BROKER_ADDR
            string "Enter MQTT broker address"
            default "192.168.1.1"
            help
                "Enter the address of MQTT broker"
    endmenu       

    menu "TCP testcase"
        config TCP_SERVER_MAX_CONNECTION
            int "Set max connection number for TCP server"
            default 10
            help
                "Set max connection number for TCP server"
        config TCP_SERVER_PORT
            int "Set listening port for TCP server"
            default 8002
            help
                "Set listening port for TCP server"
    endmenu

    menu "ESPNOW testcase"
        config ESPNOW_LMK
            string "Set ESPNOW LMK"
            default "lmk1234567890123"
        
    endmenu
    
    menu "TouchTFT Pin Configuration"
        config UT_LCD_MISO_GPIO
            int "UT_LCD_MISO_GPIO"
            default "25"
        config UT_LCD_MOSI_GPIO
            int "UT_LCD_MOSI_GPIO"
            default "23"
        config UT_LCD_CLK_GPIO
            int "UT_LCD_CLK_GPIO"
            default "19"
        config UT_LCD_CS_GPIO
            int "UT_LCD_CS_GPIO"
            default "22"
        config UT_LCD_DC_GPIO
            int "UT_LCD_DC_GPIO"
            default "21"
        config UT_LCD_RESET_GPIO
            int "UT_LCD_RESET_GPIO"
            default "18"
        config UT_LCD_BL_GPIO
            int "UT_LCD_BL_GPIO"
            default "5"
    endmenu

    menu "XPT2046 Pin Configuration"
        config XPT2046_CS_GPIO
            int "XPT2046_CS_GPIO"
            default "32"
        config XPT2046_IRQ_GPIO
            int "XPT2046_IRQ_GPIO"
            default "33"
    endmenu

    menu "LCD refresh test settings"
        menu "LCD Pin Configuration"
            config LCD_MISO_GPIO
                int "LCD_MISO_GPIO"
                default "27"
            config LCD_MOSI_GPIO
                int "LCD_MOSI_GPIO"
                default "21"
            config LCD_CLK_GPIO
                int "LCD_CLK_GPIO"
                default "22"
            config LCD_CS_GPIO
                int "LCD_CS_GPIO"
                default "5"
            config LCD_DC_GPIO
                int "LCD_DC_GPIO"
                default "19"
            config LCD_RESET_GPIO
                int "LCD_RESET_GPIO"
                default "18"
            config LCD_BL_GPIO
                int "LCD_BL_GPIO"
                default "23"
        endmenu

        config MAX_LCD_CLK_FREQ
            int "MAX_LCD_CLK_FREQ"
            default "32"

        config LCD_CLK_TEST_INCREASE
            int "LCD_CLK_TEST_INCREASE"
            default "10"

    endmenu

endmenu
