menu "USB Device UVC"

    config TUSB_VID
        hex "USB Device VID"
        default 0x303A
    config TUSB_PID
        hex "USB Device PID"
        default 0x8000
    config TUSB_MANUFACTURER
        string "USB Device Manufacture"
        default "Espressif"
    config TUSB_PRODUCT
        string "Product Name"
        default "ESP UVC Device"
    config TUSB_SERIAL_NUM
        string "Product ID"
        default "12345678"

    choice UVC_DEFAULT_FORMAT
        bool "UVC Default Format"
        default FORMAT_MJPEG
        config FORMAT_MJPEG
            bool "MJPEG"
    endchoice

    choice UVC_XFER_MODE
        bool "UVC transfer mode"
        default UVC_MODE_ISOC
        config UVC_MODE_ISOC
            bool "Isochronous"
        config UVC_MODE_BULK
            bool "Bulk"
    endchoice

    choice UVC_DEFAULT_FRAMESIZE
        bool "UVC Default Resolution"
        default FRAMESIZE_HD
        config FRAMESIZE_QVGA
            bool "QVGA 320x240"
        config FRAMESIZE_HVGA
            bool "HVGA 480x320"
        config FRAMESIZE_VGA
            bool "VGA 640x480"
        config FRAMESIZE_SVGA
            bool "SVGA 800x600"
        config FRAMESIZE_HD
            bool "HD 1280x720"
        config FRAMESIZE_FHD
            bool "FHD 1920x1080"
    endchoice

    config UVC_DEFAULT_FRAMERATE
        int "Frame Rate (FPS)"
        default 30 if FRAMESIZE_QVGA
        default 30 if FRAMESIZE_HVGA
        default 15 if FRAMESIZE_VGA
        default 15 if FRAMESIZE_SVGA
        default 15 if FRAMESIZE_HD
        default 15 if FRAMESIZE_FHD

    config UVC_DEFAULT_FRAMESIZE_WIDTH
        int
        default 320 if FRAMESIZE_QVGA
        default 480 if FRAMESIZE_HVGA
        default 640 if FRAMESIZE_VGA
        default 800 if FRAMESIZE_SVGA
        default 1280 if FRAMESIZE_HD
        default 1920 if FRAMESIZE_FHD

    config UVC_DEFAULT_FRAMESIZE_HEIGT
        int
        default 240 if FRAMESIZE_QVGA
        default 320 if FRAMESIZE_HVGA
        default 480 if FRAMESIZE_VGA
        default 600 if FRAMESIZE_SVGA
        default 720 if FRAMESIZE_HD
        default 1080 if FRAMESIZE_FHD

    config UVC_MULTI_FRAMESIZE
        bool "Enable multiple frames sizes"
        default y
        help
            If enable, add VGA and HVGA to list

endmenu
