menu "USB UART Bridge Example"

    config UART_AUTO_DOWNLOAD
        bool "Enable auto download, if enable please attach io0 and rst"
        default y
    config BOARD_AUTODLD_EN_PIN
        int "Auto download EN(RST) pin"
        default 3
        depends on UART_AUTO_DOWNLOAD
    config BOARD_AUTODLD_BOOT_PIN
        int "Auto download BOOT pin"
        default 26
        depends on UART_AUTO_DOWNLOAD
    config BOARD_UART_TXD_PIN
        int "UART TXD pin"
        default 45
    config BOARD_UART_RXD_PIN
        int "UART RXD pin"
        default 46
    config UART_RX_BUF_SIZE
        int "UART RX buffer size (Bytes)"
        default 256
    config UART_TX_BUF_SIZE
        int "UART TX buffer size (Bytes)"
        default 1024
    config USB_RX_BUF_SIZE
        int "USB RX buffer size (Bytes)"
        default 256
    config USB_TX_BUF_SIZE
        int "USB TX buffer size (Bytes)"
        default 1024

endmenu
