# This file is for debug purposes only.
# idf.py -DSDKCONFIG_DEFAULTS="sdkconfig.defaults;sdkconfig.debug.sysview" set-target esp32s3 build
# Sysview through UART0, only supported in IDF v5.0 and above

CONFIG_IDF_TARGET="esp32s3"
CONFIG_APPTRACE_DEST_UART0=y
CONFIG_APPTRACE_UART_TX_GPIO=43
CONFIG_APPTRACE_UART_RX_GPIO=44
CONFIG_APPTRACE_UART_BAUDRATE=3000000
CONFIG_APPTRACE_SV_ENABLE=y
CONFIG_APPTRACE_SV_TS_SOURCE_ESP_TIMER=y
CONFIG_ESP_CONSOLE_UART_CUSTOM=y
CONFIG_ESP_CONSOLE_SECONDARY_NONE=y
CONFIG_ESP_CONSOLE_UART_CUSTOM_NUM_1=y
CONFIG_ESP_CONSOLE_UART_TX_GPIO=13
CONFIG_ESP_CONSOLE_UART_RX_GPIO=14
CONFIG_LOG_DEFAULT_LEVEL_VERBOSE=n
CONFIG_LOG_DEFAULT_LEVEL_DEBUG=y
CONFIG_APPTRACE_SV_DEST_CPU_1=y
CONFIG_APPTRACE_SV_DEST_CPU_0=n
