CONFIG_IDF_EXPERIMENTAL_FEATURES=y

#
# Serial flasher config
#
CONFIG_ESPTOOLPY_FLASHFREQ_120M=y

#
# SPI RAM config
#
CONFIG_SPIRAM_SPEED_120M=y

#
# Cache config
#
CONFIG_ESP32S3_DATA_CACHE_LINE_64B=y
