menu "Example Configuration"

    config I2C_MASTER_SCL
        int "SCL GPIO Num"
        default 22
        help
            GPIO number for I2C Master clock line.

    config I2C_MASTER_SDA
        int "SDA GPIO Num"
        default 21
        help
            GPIO number for I2C Master data line.

     config AHT20_SAMPLE_PERIOD
        int "AHT20 sampling time(ms)"
		default 2000
	range 2000 1000000
        help
            Sampling period for AHT20, in ms.

endmenu
