# CONFIG_ESP_TASK_WDT_EN is not set
CONFIG_FREERTOS_HZ=1000
CONFIG_VFS_SUPPORT_DIR=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
# FATFS sync tests use directory names longer than 8.3, so enable long filename support.
CONFIG_FATFS_LFN_STACK=y
CONFIG_FATFS_MAX_LFN=255
