# ESP32-C3 default configuration

CONFIG_IDF_TARGET="esp32c3"
CONFIG_COMPILER_ORPHAN_SECTIONS_WARNING=y
CONFIG_LIBC_OPTIMIZED_MISALIGNED_ACCESS=n

# ESP32-C3 typically uses SPI without PSRAM with encoder/knob input
CONFIG_ESP_LVGL_ADAPTER_ENABLE_BUTTON=y
CONFIG_ESP_LVGL_ADAPTER_ENABLE_KNOB=y

CONFIG_LV_COLOR_16_SWAP=y

CONFIG_IDF_EXPERIMENTAL_FEATURES=y

# ESP32C3 LCDKit
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y
