menu "ESP LCD TOUCH"

    config ESP_LCD_TOUCH_MAX_POINTS
        int "Maximum count of the touch points"
        range 1 10
        default 5

    config ESP_LCD_TOUCH_MAX_BUTTONS
        int "Maximum count of the touch buttons supported"
        range 0 10
        default 1

endmenu
