menu "Status LED"
    config STATUS_LED_QUICK_BLINK_FREQ
        int "Quick blink frequency(Hz)"
        range 1 20
        default 5
    config STATUS_LED_SLOW_BLINK_FREQ
        int "Slow blink frequency(Hz)"
        range 1 20
        default 1
    
    choice STATUS_LED_SPEED_MODE_CHOICE
        bool "LEDC speed mode"
        default USE_LEDC_HIGHSPEED_MODE
        config USE_LEDC_HIGHSPEED_MODE
            bool "Select LEDC high-speed mode for status LED"
        config USE_LEDC_LOWSPEED_MODE
            bool "Select LEDC low-speed mode for status LED" 
    endchoice
    config STATUS_LED_SPEED_MODE
        int
        default 0 if USE_LEDC_HIGHSPEED_MODE
        default 1 if USE_LEDC_LOWSPEED_MODE
        
    # -------------- led quick blink config ---------------
        
    choice STATUS_LED_QUICK_BLINK_CHANNEL_CHOICE
        bool  "Status LED quick blink channel"
        default STATUS_LED_QUICK_BLINK_CHANNEL_0
        
        config STATUS_LED_QUICK_BLINK_CHANNEL_0
            bool "channel 0"
        config STATUS_LED_QUICK_BLINK_CHANNEL_1
            bool "channel 1"
        config STATUS_LED_QUICK_BLINK_CHANNEL_2
            bool "channel 2"                
        config STATUS_LED_QUICK_BLINK_CHANNEL_3
            bool "channel 3"                
        config STATUS_LED_QUICK_BLINK_CHANNEL_4
            bool "channel 4"                
        config STATUS_LED_QUICK_BLINK_CHANNEL_5
            bool "channel 5"
        config STATUS_LED_QUICK_BLINK_CHANNEL_6
            bool "channel 6"                
        config STATUS_LED_QUICK_BLINK_CHANNEL_7
            bool "channel 7" 
        config STATUS_LED_QUICK_BLINK_CHANNEL_DEF
            bool "channel default(0)"                                 
    endchoice
    config STATUS_LED_QUICK_BLINK_CHANNEL
        int 
        default 0 if STATUS_LED_QUICK_BLINK_CHANNEL_0
        default 1 if STATUS_LED_QUICK_BLINK_CHANNEL_1
        default 2 if STATUS_LED_QUICK_BLINK_CHANNEL_2
        default 3 if STATUS_LED_QUICK_BLINK_CHANNEL_3
        default 4 if STATUS_LED_QUICK_BLINK_CHANNEL_4
        default 5 if STATUS_LED_QUICK_BLINK_CHANNEL_5
        default 6 if STATUS_LED_QUICK_BLINK_CHANNEL_6
        default 7 if STATUS_LED_QUICK_BLINK_CHANNEL_7
        default 0 if STATUS_LED_QUICK_BLINK_CHANNEL_DEF
    
    choice STATUS_LED_QUICK_BLINK_TIMER_CHOICE
        bool  "Status LED quick blink timer"
        default STATUS_LED_QUICK_BLINK_TIMER_0
        
        config STATUS_LED_QUICK_BLINK_TIMER_0
            bool "TIMER 0"
        config STATUS_LED_QUICK_BLINK_TIMER_1
            bool "TIMER 1"
        config STATUS_LED_QUICK_BLINK_TIMER_2
            bool "TIMER 2"                
        config STATUS_LED_QUICK_BLINK_TIMER_3
            bool "TIMER 3"       
        config STATUS_LED_QUICK_BLINK_TIMER_DEF
            bool "TIMER default(0)"                                            
    endchoice
    config STATUS_LED_QUICK_BLINK_TIMER
        int 
        default 0 if STATUS_LED_QUICK_BLINK_TIMER_0
        default 1 if STATUS_LED_QUICK_BLINK_TIMER_1
        default 2 if STATUS_LED_QUICK_BLINK_TIMER_2
        default 3 if STATUS_LED_QUICK_BLINK_TIMER_3
        default 0 if STATUS_LED_QUICK_BLINK_TIMER_DEF
    
    
        
    # --------------- led slow blink config ----------------
    
    choice STATUS_LED_SLOW_BLINK_CHANNEL_CHOICE
        bool  "Status LED slow blink channel"
        default STATUS_LED_SLOW_BLINK_CHANNEL_1
        
        config STATUS_LED_SLOW_BLINK_CHANNEL_0
            bool "channel 0"
        config STATUS_LED_SLOW_BLINK_CHANNEL_1
            bool "channel 1"
        config STATUS_LED_SLOW_BLINK_CHANNEL_2
            bool "channel 2"                
        config STATUS_LED_SLOW_BLINK_CHANNEL_3
            bool "channel 3"                
        config STATUS_LED_SLOW_BLINK_CHANNEL_4
            bool "channel 4"                
        config STATUS_LED_SLOW_BLINK_CHANNEL_5
            bool "channel 5"
        config STATUS_LED_SLOW_BLINK_CHANNEL_6
            bool "channel 6"                
        config STATUS_LED_SLOW_BLINK_CHANNEL_7
            bool "channel 7"  
        config STATUS_LED_SLOW_BLINK_CHANNEL_DEF
            bool "channel default(1)"                                                  
    endchoice
    config STATUS_LED_SLOW_BLINK_CHANNEL
        int 
        default 0 if STATUS_LED_SLOW_BLINK_CHANNEL_0
        default 1 if STATUS_LED_SLOW_BLINK_CHANNEL_1
        default 2 if STATUS_LED_SLOW_BLINK_CHANNEL_2
        default 3 if STATUS_LED_SLOW_BLINK_CHANNEL_3
        default 4 if STATUS_LED_SLOW_BLINK_CHANNEL_4
        default 5 if STATUS_LED_SLOW_BLINK_CHANNEL_5
        default 6 if STATUS_LED_SLOW_BLINK_CHANNEL_6
        default 7 if STATUS_LED_SLOW_BLINK_CHANNEL_7   
        default 1 if STATUS_LED_SLOW_BLINK_CHANNEL_DEF
         
    choice STATUS_LED_SLOW_BLINK_TIMER_CHOICE
        bool  "Status LED slow blink timer"
        default STATUS_LED_SLOW_BLINK_TIMER_1
        
        config STATUS_LED_SLOW_BLINK_TIMER_0
            bool "TIMER 0"
        config STATUS_LED_SLOW_BLINK_TIMER_1
            bool "TIMER 1"
        config STATUS_LED_SLOW_BLINK_TIMER_2
            bool "TIMER 2"                
        config STATUS_LED_SLOW_BLINK_TIMER_3
            bool "TIMER 3"     
        config STATUS_LED_SLOW_BLINK_TIMER_DEF
            bool "TIMER default(1)"                                              
    endchoice
    config STATUS_LED_SLOW_BLINK_TIMER
        int 
        default 0 if STATUS_LED_SLOW_BLINK_TIMER_0
        default 1 if STATUS_LED_SLOW_BLINK_TIMER_1
        default 2 if STATUS_LED_SLOW_BLINK_TIMER_2
        default 3 if STATUS_LED_SLOW_BLINK_TIMER_3   
        default 1 if STATUS_LED_SLOW_BLINK_TIMER_DEF   
        
                 
    # ---------------- led night mode config ------------------
    
    config STATUS_LED_NIGHT_MODE_ENABLE
        bool "Status LED night mode enable"
        default y
        
        choice STATUS_LED_NIGHT_MODE_CHANNEL_CHOICE
            bool  "Status LED night mode channel"
            default STATUS_LED_NIGHT_MODE_CHANNEL_2
            depends on STATUS_LED_NIGHT_MODE_ENABLE
            
            config STATUS_LED_NIGHT_MODE_CHANNEL_0
                bool "channel 0"
            config STATUS_LED_NIGHT_MODE_CHANNEL_1
                bool "channel 1"
            config STATUS_LED_NIGHT_MODE_CHANNEL_2
                bool "channel 2"                
            config STATUS_LED_NIGHT_MODE_CHANNEL_3
                bool "channel 3"                
            config STATUS_LED_NIGHT_MODE_CHANNEL_4
                bool "channel 4"                
            config STATUS_LED_NIGHT_MODE_CHANNEL_5
                bool "channel 5"
            config STATUS_LED_NIGHT_MODE_CHANNEL_6
                bool "channel 6"                
            config STATUS_LED_NIGHT_MODE_CHANNEL_7
                bool "channel 7"      
            config STATUS_LED_NIGHT_MODE_CHANNEL_DEF
                bool "channel default(2)"                                                  
        endchoice
        config STATUS_LED_NIGHT_MODE_CHANNEL
            int 
            default 0 if STATUS_LED_NIGHT_MODE_CHANNEL_0
            default 1 if STATUS_LED_NIGHT_MODE_CHANNEL_1
            default 2 if STATUS_LED_NIGHT_MODE_CHANNEL_2
            default 3 if STATUS_LED_NIGHT_MODE_CHANNEL_3
            default 4 if STATUS_LED_NIGHT_MODE_CHANNEL_4
            default 5 if STATUS_LED_NIGHT_MODE_CHANNEL_5
            default 6 if STATUS_LED_NIGHT_MODE_CHANNEL_6
            default 7 if STATUS_LED_NIGHT_MODE_CHANNEL_7  
            default 2 if STATUS_LED_NIGHT_MODE_CHANNEL_DEF
        
        choice STATUS_LED_NIGHT_MODE_TIMER_CHOICE
            bool  "Status LED night mode timer"
            default STATUS_LED_NIGHT_MODE_TIMER_2
            depends on STATUS_LED_NIGHT_MODE_ENABLE
            
            config STATUS_LED_NIGHT_MODE_TIMER_0
                bool "TIMER 0"
            config STATUS_LED_NIGHT_MODE_TIMER_1
                bool "TIMER 1"
            config STATUS_LED_NIGHT_MODE_TIMER_2
                bool "TIMER 2"                
            config STATUS_LED_NIGHT_MODE_TIMER_3
                bool "TIMER 3"    
            config STATUS_LED_NIGHT_MODE_TIMER_DEF
                bool "TIMER default(2)"                                                   
        endchoice
        config STATUS_LED_NIGHT_MODE_TIMER
            int 
            default 0 if STATUS_LED_NIGHT_MODE_TIMER_0
            default 1 if STATUS_LED_NIGHT_MODE_TIMER_1
            default 2 if STATUS_LED_NIGHT_MODE_TIMER_2
            default 3 if STATUS_LED_NIGHT_MODE_TIMER_3  
            default 2 if STATUS_LED_NIGHT_MODE_TIMER_DEF  
endmenu  
