#
# IoT Solution settings
#

#
# IoT Components Management
#

CONFIG_STATUS_LED_NIGHT_MODE_TIMER=2
CONFIG_ESP32_ULP_COPROC_ENABLED=y
CONFIG_ESP32_ULP_COPROC_RESERVE_MEM=1024

#
# General functions
#
CONFIG_IOT_DAC_AUDIO_ENABLE=
CONFIG_IOT_TOUCH_ENABLE=y
CONFIG_IOT_ULP_ENABLE=
CONFIG_IOT_LOWPOWER_APP_FRAMEWORK_ENABLE=y
CONFIG_IOT_BUTTON_ENABLE=y
CONFIG_IOT_DEBUG_ENABLE=
CONFIG_IOT_LED_ENABLE=y
CONFIG_IOT_LIGHT_ENABLE=
CONFIG_IOT_OTA_FUNC_ENABLE=
CONFIG_IOT_PARAM_ENABLE=y
CONFIG_IOT_POWER_METER_ENABLE=
CONFIG_IOT_RELAY_ENABLE=
CONFIG_IOT_WEEKLY_TIMER_ENABLE=

#
# I2C devices
#
CONFIG_IOT_APDS9960_ENABLE=y
CONFIG_IOT_AT24C02_ENABLE=
CONFIG_IOT_BME280_ENABLE=
CONFIG_IOT_CH450_ENABLE=
CONFIG_IOT_IS31FL3XXX_ENABLE=
CONFIG_IOT_MCP23017_ENABLE=
CONFIG_IOT_OLED_ENABLE=y
CONFIG_IOT_BH1750_ENABLE=y
CONFIG_IOT_HTS221_ENABLE=y
CONFIG_IOT_LIS2DH12_ENABLE=
CONFIG_IOT_MVH3004D_ENABLE=

#
# SPI devices
#
CONFIG_IOT_LCD_ENABLE=
CONFIG_IOT_EINK_ENABLE=y

#
# Network and Protocols
#
CONFIG_IOT_MQTT_ENABLE=
CONFIG_IOT_TCP_CLASS_ENABLE=y
CONFIG_IOT_UDP_CLASS_ENABLE=

#
# Platforms and Clouds
#
CONFIG_IOT_ALINK_ENABLE=
CONFIG_IOT_JOYLINK_ENABLE=

#
# WiFi abstract
#
CONFIG_IOT_SMARTCONFIG_ABSTRACT_ENABLE=y
CONFIG_IOT_WIFI_ABSTRACT_ENABLE=y

#
# Enable ULP
#
CONFIG_ULP_COPROC_ENABLED=y
CONFIG_ULP_COPROC_RESERVE_MEM=5120








