CONFIG_BOARD_ESP32_LCDKIT=y

CONFIG_LCD_DRIVER_SCREEN_CONTROLLER_ILI9341=y
CONFIG_LCD_DRIVER_SCREEN_CONTROLLER_ILI9806=y
CONFIG_LCD_DRIVER_SCREEN_CONTROLLER_RM68120=y
CONFIG_LCD_DRIVER_SCREEN_CONTROLLER_ST7789=y
CONFIG_LCD_DRIVER_SCREEN_CONTROLLER_ST7796=y
CONFIG_TOUCH_DRIVER_XPT2046=y
CONFIG_TOUCH_DRIVER_FT5X06=y
CONFIG_TOUCH_DRIVER_NS2016=y
CONFIG_LVGL_DRIVER_TOUCH_SCREEN_ENABLE=y
#
# FreeRTOS
#
CONFIG_FREERTOS_HZ=1000

CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y

CONFIG_LVGL_THEME_DEFAULT_PRIMARY_COLOR_BLUE=y
CONFIG_LVGL_FONT_MONTSERRAT_32=y