CONFIG_IDF_TARGET="esp32p4"
CONFIG_BSP_LCD_DPI_BUFFER_NUMS=3
CONFIG_BSP_DISPLAY_LVGL_AVOID_TEAR=y
CONFIG_CAMERA_SC2336=y
CONFIG_CAMERA_SC2336_MIPI_RAW8_1024X600_30FPS=y
CONFIG_CAMERA_SC2336_MIPI_RAW8_1280X720_30FPS=n
CONFIG_ESP_VIDEO_ENABLE_ISP_PIPELINE_CONTROLLER=y
# Only show errors (hides the noisy ISP_AWB subwindow warnings).
CONFIG_LOG_DEFAULT_LEVEL_ERROR=y
