# Common defaults shared by all targets.
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_SPIRAM=y
CONFIG_SPIRAM_SPEED_250M=y
CONFIG_FREERTOS_HZ=1000
CONFIG_ESP_PAINTER_BASIC_FONT_24=y
CONFIG_ESP_PAINTER_BASIC_FONT_40=y
CONFIG_FLASH_HUMAN_FACE_DETECT_MSRMNP_S8_V1=n
CONFIG_FLASH_ESPDET_PICO_224_224_FACE=y
