#
# IoT Solution settings
#

#
# IoT Components Management
#

#
# General functions
#
CONFIG_IOT_IR_ENABLE=y
CONFIG_IOT_TOUCH_ENABLE=y

#
# Touch Sensor
#
CONFIG_DATA_SCOPE_DEBUG=y

#
# DataScope port setting
#
CONFIG_SCOPE_PORT_NUM_UART0=y
CONFIG_SCOPE_PORT_NUM_UART1=
CONFIG_SCOPE_PORT_NUM_UART2=
CONFIG_SCOPE_DEBUG_PORT_NUM=0
CONFIG_SCOPE_PORT_BAUD_RATE_115200=
CONFIG_SCOPE_PORT_BAUD_RATE_256000=
CONFIG_SCOPE_PORT_BAUD_RATE_460800=
CONFIG_SCOPE_PORT_BAUD_RATE_921600=y
CONFIG_SCOPE_PORT_BAUD_RATE_1152000=
CONFIG_SCOPE_DEBUG_BAUD_RATE=921600
CONFIG_SCOPE_DEBUG_UART_TXD_IO=1
CONFIG_SCOPE_DEBUG_UART_RXD_IO=3
CONFIG_IOT_ULP_ENABLE=
CONFIG_IOT_LOWPOWER_APP_FRAMEWORK_ENABLE=
CONFIG_IOT_BUTTON_ENABLE=
CONFIG_IOT_DEBUG_ENABLE=
CONFIG_IOT_LED_ENABLE=y

#
# IoT Example - Touch Sensor settings
#
CONFIG_TOUCH_EB_V3=y
CONFIG_TOUCH_EB_V2=

#
# Plastic cover thickness setting
#
CONFIG_COVER_THICK_SPRING_BUTTON=3
CONFIG_COVER_THICK_LINEAR_SLIDER=1
CONFIG_COVER_THICK_DUPLEX_SLIDER=0
CONFIG_COVER_THICK_TOUCH_WHEEL=0
CONFIG_COVER_THICK_MATRIX_BUTTON=0
