CONFIG_COMPILER_OPTIMIZATION_SIZE=y
CONFIG_BOOTLOADER_COMPILER_OPTIMIZATION_PERF=y
CONFIG_BOOTLOADER_LOG_LEVEL_NONE=y
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"

CONFIG_EXAMPLE_WIFI_SSID="Redmi_7BDB_2.4G"
CONFIG_EXAMPLE_WIFI_PASSWORD="12345678"

CONFIG_MCP_REMOTE_HOST="https://dashscope.aliyuncs.com"
CONFIG_MCP_REMOTE_PORT=443
CONFIG_MCP_REMOTE_EP="api/v1/mcps/mcp-MjZlNmJkYmIwYTJh/mcp"

CONFIG_MCP_HTTP_AUTH_ENABLE=y
CONFIG_MCP_HTTP_AUTH_BEARER_TOKEN="sk-04cee741b28641dda094ddc20044ceb3"
